05-Depot-de-sable/Code 20170413/SC_code node red.txt
[{"id":"7585ce4.a41ba3","type":"exec","z":"dd948e97.077d3","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"soft python","x":1350,"y":520,"wires":[[],[],[]]},{"id":"e874095e.549288","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"x1","group":"c63c12ea.2f553","order":3,"width":"4","height":"1","passthru":true,"topic":"x1","format":"{{value}} pas","min":"100","max":"400","step":"","x":850,"y":440,"wires":[["6ff09a1.8d67764"]]},{"id":"d503919f.60dde","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"x2","group":"c63c12ea.2f553","order":4,"width":"4","height":"1","passthru":true,"topic":"x2","format":"{{value}} pas","min":"1200","max":"1500","step":"","x":850,"y":600,"wires":[["dc0add52.dbc51"]]},{"id":"27452e7d.955862","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"V1","group":"c63c12ea.2f553","order":5,"width":"4","height":"1","passthru":true,"topic":"v1","format":"{{value}} pas/s","min":"1","max":"20","step":"","x":850,"y":480,"wires":[["deb30f36.94137"]]},{"id":"44aebddf.4e4e94","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"V2","group":"c63c12ea.2f553","order":6,"width":"4","height":"1","passthru":true,"topic":"v2","format":"{{value}} pas/s","min":"1","max":"20","step":"","x":850,"y":640,"wires":[["71401d13.c34354"]]},{"id":"f011f1a3.32891","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"t1","group":"c63c12ea.2f553","order":7,"width":"4","height":"1","passthru":true,"topic":"t1","format":"{{value}}","min":0,"max":"5","x":850,"y":520,"wires":[["aea825da.324ac8"]]},{"id":"88acd3cb.1cf55","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"t2","group":"c63c12ea.2f553","order":8,"width":"4","height":"1","passthru":true,"topic":"t2","format":"{{value}}","min":"5","max":10,"x":850,"y":680,"wires":[["d92113af.7ae16"]]},{"id":"cdc87379.3fe11","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"t3","group":"c63c12ea.2f553","order":9,"width":"4","height":"1","passthru":true,"topic":"t3","format":"{{value}}","min":0,"max":10,"x":850,"y":560,"wires":[["e68cc251.a8d0b"]]},{"id":"4f10a3ec.5ee71c","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"t4","group":"c63c12ea.2f553","order":10,"width":"4","height":"1","passthru":true,"topic":"t4","format":"{{value}}","min":0,"max":10,"x":850,"y":720,"wires":[["af8f2593.831148"]]},{"id":"6976dda0.f0d434","type":"comment","z":"dd948e97.077d3","name":"Aléatoire multiple - Commande moteur pas à pas","info":"","x":280,"y":40,"wires":[]},{"id":"be95e286.6c0fb","type":"function","z":"dd948e97.077d3","name":"n","func":"context.global.n = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":400,"wires":[[]]},{"id":"6ff09a1.8d67764","type":"function","z":"dd948e97.077d3","name":"x1","func":"context.global.x1 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":440,"wires":[[]]},{"id":"deb30f36.94137","type":"function","z":"dd948e97.077d3","name":"v1","func":"context.global.v1 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":480,"wires":[[]]},{"id":"aea825da.324ac8","type":"function","z":"dd948e97.077d3","name":"t1","func":"context.global.t1 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":520,"wires":[[]]},{"id":"e68cc251.a8d0b","type":"function","z":"dd948e97.077d3","name":"t3","func":"context.global.t3 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":560,"wires":[[]]},{"id":"dc0add52.dbc51","type":"function","z":"dd948e97.077d3","name":"x2","func":"context.global.x2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":600,"wires":[[]]},{"id":"71401d13.c34354","type":"function","z":"dd948e97.077d3","name":"v2","func":"context.global.v2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":640,"wires":[[]]},{"id":"d92113af.7ae16","type":"function","z":"dd948e97.077d3","name":"t2","func":"context.global.t2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":680,"wires":[[]]},{"id":"af8f2593.831148","type":"function","z":"dd948e97.077d3","name":"t4","func":"context.global.t4 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":720,"wires":[[]]},{"id":"79fb673b.267f48","type":"inject","z":"dd948e97.077d3","name":"","topic":"","payload":"[heure],[n],[position>x1:x2],[vitesse_aller>v1],[vitesse_retour>v2],[t3],[t>t1:t2],[t4]","payloadType":"str","repeat":"","crontab":"","once":true,"x":170,"y":100,"wires":[["252a5cc2.1c9364","ab443e05.4eb9a","bfb7f2c7.5191f","7da0251a.253bbc","c9a34fe6.4a44","75814ed6.ccf97","8c5d6946.4f3568","2330fd10.5dd242"]]},{"id":"252a5cc2.1c9364","type":"random","z":"dd948e97.077d3","name":"","low":"4","high":"6","inte":"true","x":360,"y":400,"wires":[["197c66de.d70489"]]},{"id":"ab443e05.4eb9a","type":"random","z":"dd948e97.077d3","name":"","low":"100","high":"400","inte":"true","x":360,"y":440,"wires":[["e874095e.549288"]]},{"id":"bfb7f2c7.5191f","type":"random","z":"dd948e97.077d3","name":"","low":"1","high":"20","inte":"true","x":360,"y":480,"wires":[["27452e7d.955862","44aebddf.4e4e94"]]},{"id":"7da0251a.253bbc","type":"random","z":"dd948e97.077d3","name":"","low":"1","high":"5","inte":"true","x":360,"y":520,"wires":[["f011f1a3.32891","cdc87379.3fe11","4f10a3ec.5ee71c"]]},{"id":"c9a34fe6.4a44","type":"random","z":"dd948e97.077d3","name":"","low":"1200","high":"1500","inte":"true","x":360,"y":600,"wires":[["d503919f.60dde"]]},{"id":"ff4ee364.27695","type":"ui_slider","z":"dd948e97.077d3","name":"","label":"Position [x1:x2] ","group":"2e93a84f.562e78","order":2,"width":"8","height":"1","passthru":true,"topic":"","min":0,"max":"1500","step":1,"x":680,"y":1760,"wires":[[]]},{"id":"52f4a3b9.224fbc","type":"ui_chart","z":"dd948e97.077d3","name":"posX","group":"2e93a84f.562e78","order":4,"width":"8","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","ymin":"0","ymax":"1500","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":650,"y":1800,"wires":[[],[]]},{"id":"c8b218cf.76ca88","type":"ui_text","z":"dd948e97.077d3","group":"4285f18a.4c24a","order":1,"width":"10","height":"1","name":"","label":"Speed","format":"{{msg.payload}} pas/s","layout":"row-left","x":650,"y":1840,"wires":[]},{"id":"4d98b834.d38db8","type":"ui_switch","z":"dd948e97.077d3","name":"","label":"Simul tic","group":"5674489b.7d5128","order":1,"width":"3","height":"1","passthru":true,"topic":"Simul TIC","style":"","onvalue":"TIC","onvalueType":"str","onicon":"","oncolor":"","offvalue":"TAC","offvalueType":"str","officon":"","offcolor":"","x":860,"y":320,"wires":[["66f0191c.273688"]]},{"id":"75814ed6.ccf97","type":"random","z":"dd948e97.077d3","name":"","low":"6","high":"10","inte":"true","x":360,"y":560,"wires":[["88acd3cb.1cf55"]]},{"id":"8c5d6946.4f3568","type":"function","z":"dd948e97.077d3","name":"init_variables","func":"context.global.tic = 0;\ncontext.global.stop = 0;\n//context.global.boucle = 0;\n//msg.payload = \"TAC\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["4d98b834.d38db8"]]},{"id":"8504d2e1.6643c","type":"ui_chart","z":"dd948e97.077d3","name":"speed","group":"4285f18a.4c24a","order":3,"width":"8","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","ymin":"0","ymax":"20","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":650,"y":1880,"wires":[[],[]]},{"id":"66f0191c.273688","type":"function","z":"dd948e97.077d3","name":"attrib. Global","func":"var msg2 = {}\nswitch (msg.topic) {\n    /*case \"Simul TIC\":\n        if(msg.payload == \"TIC\"){\n            context.global.tic ++;\n            if(context.global.tic  == context.global.n){\n                context.global.stop = 0 ;\n                msg.payload = \"/home/pi/random_multiple.py\";\n                context.global.tic = 0;\n                msg2.payload = \"auto;\" + context.global.n + \";\" + context.global.x1 + \";\" + context.global.v1 + \";\" + context.global.t1 + \";\" + context.global.t3 + \";\" + context.global.x2 + \";\" + context.global.v2 + \";\" + context.global.t2 + \";\" + context.global.t4+\";\";\n            }\n            else msg = null;\n        }\n        break;*/ \n    case \"stop\":\n        context.global.stop = 1 ;\n        context.global.tic = 0;\n        //msg2.topic = \"UPDATE `test`.`etat` SET `state` = 'stop' WHERE `etat`.`id` = 1; \";\n        break;\n}\n if(msg.payload == \"0\"){\n            context.global.tic ++;\n            if(context.global.tic  == context.global.n){\n                context.global.stop = 0 ;\n                msg.payload = \"/home/pi/random_multiple.py\";\n                context.global.tic = 0;\n                msg2.payload = \"auto;\" + context.global.n + \";\" + context.global.x1 + \";\" + context.global.v1 + \";\" + context.global.t1 + \";\" + context.global.t3 + \";\" + context.global.x2 + \";\" + context.global.v2 + \";\" + context.global.t2 + \";\" + context.global.t4+\";\";\n            }\n            else msg = null;\n}\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":1110,"y":240,"wires":[["7585ce4.a41ba3","42e882dd.13b02c"],["e4765cba.0c5c9","42e882dd.13b02c"]]},{"id":"15678c2a.5a1464","type":"ui_numeric","z":"dd948e97.077d3","name":"","label":"n","group":"c63c12ea.2f553","order":2,"width":"8","height":"1","passthru":true,"topic":"n","format":"{{value}} tic","min":"1","max":"10","x":850,"y":400,"wires":[["be95e286.6c0fb"]]},{"id":"6137d34.bca662c","type":"ui_chart","z":"dd948e97.077d3","name":"switch","group":"77a22983.451218","order":7,"width":"8","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","ymin":"0","ymax":"1","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":650,"y":1920,"wires":[[],[]]},{"id":"1516fdd2.fbd132","type":"ui_text","z":"dd948e97.077d3","group":"77a22983.451218","order":6,"width":"10","height":"1","name":"","label":"Switch","format":"{{msg.payload}} ","layout":"row-left","x":650,"y":1960,"wires":[]},{"id":"6775fbaf.9ca764","type":"ui_text","z":"dd948e97.077d3","group":"","order":5,"width":"10","height":"6","name":"","label":"","format":"","layout":"row-left","x":650,"y":2000,"wires":[]},{"id":"c1e4031b.b776e","type":"comment","z":"dd948e97.077d3","name":"Initialisation","info":"","x":150,"y":180,"wires":[]},{"id":"f4b20cb8.bf43a","type":"comment","z":"dd948e97.077d3","name":"Execution","info":"","x":1340,"y":460,"wires":[]},{"id":"5ebd3bd4.89c0f4","type":"ui_button","z":"dd948e97.077d3","name":"","group":"c63c12ea.2f553","order":11,"width":0,"height":0,"label":"Stop","color":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":850,"y":360,"wires":[["66f0191c.273688"]]},{"id":"8a0a0a44.491b18","type":"function","z":"dd948e97.077d3","name":"Split webSocket python","func":"var split = msg.payload.split(\",\");\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\n\nposx = split[0].split(\":\");\nmsg.payload = posx[1];\nmsg.topic = \"position actuelle\";\n\nposx_obj = split[1].split(\":\");\nmsg2.payload = posx_obj[1];\nmsg2.topic = \"position a atteindre\";\n\nspeed = split[2].split(\":\");\nmsg3.payload = speed[1];\nmsg3.topic = \"vitesse actuelle\";\n\nsw = split[3].split(\":\");\nmsg4.payload = sw[1];\nmsg4.topic = \"etat du relais\";\n\nif(sw[1] == 0) msg5.payload = \"ouvert\";\nelse msg5.payload = \"fermé\";\n\nreturn [msg,msg2,msg3,msg4,msg5];\n\n","outputs":"5","noerr":0,"x":370,"y":1880,"wires":[["ff4ee364.27695","52f4a3b9.224fbc"],["52f4a3b9.224fbc"],["c8b218cf.76ca88","8504d2e1.6643c"],["6137d34.bca662c"],["1516fdd2.fbd132"]]},{"id":"162e621c.cefcfe","type":"websocket in","z":"dd948e97.077d3","name":"","server":"6ae9a750.bbe538","client":"","x":150,"y":1880,"wires":[["8a0a0a44.491b18"]]},{"id":"b221107.0ffeaf","type":"websocket out","z":"dd948e97.077d3","name":"","server":"cfbe43c1.3556e","client":"","x":580,"y":1260,"wires":[]},{"id":"3587ce60.396d82","type":"inject","z":"dd948e97.077d3","name":"","topic":"repeat","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":true,"x":200,"y":1260,"wires":[["f5c2ecce.cbc88"]]},{"id":"f5c2ecce.cbc88","type":"function","z":"dd948e97.077d3","name":"scrut_stop","func":"msg.payload = context.global.stop;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1260,"wires":[["b221107.0ffeaf"]]},{"id":"bc1a71e5.3449d","type":"comment","z":"dd948e97.077d3","name":"Même base de temps que dans python dans la fonction pause","info":"","x":320,"y":1220,"wires":[]},{"id":"11cab75.23d4849","type":"comment","z":"dd948e97.077d3","name":"Affichage","info":"","x":140,"y":1840,"wires":[]},{"id":"e4765cba.0c5c9","type":"delay","z":"dd948e97.077d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":560,"wires":[["49742b46.2b7fa4"]]},{"id":"49742b46.2b7fa4","type":"websocket out","z":"dd948e97.077d3","name":"","server":"baec0a19.7c8468","client":"","x":1510,"y":560,"wires":[]},{"id":"f652031c.fced1","type":"websocket in","z":"dd948e97.077d3","name":"","server":"edabb005.4af97","client":"","x":150,"y":1600,"wires":[["be078147.74b73"]]},{"id":"79c4d615.539628","type":"file","z":"dd948e97.077d3","name":"","filename":"/media/pi/48C2-7DEF/output.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":530,"y":1600,"wires":[]},{"id":"11e81a9e.20b025","type":"comment","z":"dd948e97.077d3","name":"Fichier de sortie","info":"","x":160,"y":1560,"wires":[]},{"id":"be078147.74b73","type":"function","z":"dd948e97.077d3","name":"","func":"msg.payload = new Date() + \",\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1600,"wires":[["79c4d615.539628","b3138c4f.439ae"]]},{"id":"42e882dd.13b02c","type":"debug","z":"dd948e97.077d3","name":"","active":true,"console":"true","complete":"payload","x":1350,"y":600,"wires":[]},{"id":"aec2a72f.c203e8","type":"ui_dropdown","z":"dd948e97.077d3","name":"","label":"Mode: ","group":"771b412a.84566","order":1,"width":"8","height":"2","passthru":true,"options":[{"label":"auto mode","value":"auto mode","type":"str"},{"label":"direct mode","value":"direct mode","type":"str"}],"payload":"","topic":"","x":350,"y":720,"wires":[["998418b5.d95848"]]},{"id":"e1e2bece.4d2e9","type":"inject","z":"dd948e97.077d3","name":"","topic":"","payload":"auto mode","payloadType":"str","repeat":"","crontab":"","once":true,"x":190,"y":720,"wires":[["aec2a72f.c203e8"]]},{"id":"998418b5.d95848","type":"function","z":"dd948e97.077d3","name":"Enabled","func":"var msg2 = {};\nvar msg3 = {};\n\nif (msg.payload == \"direct mode\"){\n  msg.enabled = false ;  \n  msg2.enabled = true ;\n  msg3.payload = \"01\";\n} \nelse {\n    msg.enabled = true ;\n    msg2.enabled = false ;\n    msg3.payload = null;\n}\nreturn [msg, msg2, msg3];","outputs":"3","noerr":0,"x":500,"y":720,"wires":[["15678c2a.5a1464","e874095e.549288","27452e7d.955862","f011f1a3.32891","cdc87379.3fe11","d503919f.60dde","44aebddf.4e4e94","88acd3cb.1cf55","4f10a3ec.5ee71c","5ebd3bd4.89c0f4","4d98b834.d38db8"],["89bbda0.a724a28","d630ab7.4c38d58","b32db581.8daba8","a769e3f7.1c2a","b491d640.330418"],["89bbda0.a724a28"]]},{"id":"89bbda0.a724a28","type":"ui_dropdown","z":"dd948e97.077d3","name":"","label":"Instruction: ","group":"efd8a284.e149","order":1,"width":"8","height":"1","passthru":true,"options":[{"label":"1- ROR rotate right","value":"01","type":"str"},{"label":"2- ROL rotate left","value":"02","type":"str"},{"label":"3- MST motor stop","value":"03","type":"str"},{"label":"4- MVT move to position","value":"04","type":"str"},{"label":"5- SAP set axis parameter","value":"05","type":"str"},{"label":"14- SIO set output","value":"0e","type":"str"}],"payload":"","topic":"","x":370,"y":1020,"wires":[["e2997c77.756c6","2455dadf.e93156"]]},{"id":"b32db581.8daba8","type":"ui_button","z":"dd948e97.077d3","name":"","group":"efd8a284.e149","order":6,"width":0,"height":0,"label":"Execute","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Execute","x":860,"y":820,"wires":[["8afad0af.767f5"]]},{"id":"d630ab7.4c38d58","type":"ui_dropdown","z":"dd948e97.077d3","name":"","label":"Motor: ","group":"efd8a284.e149","order":3,"width":"8","height":"1","passthru":true,"options":[{"label":"0- Motor 0","value":"00","type":"str"}],"payload":"","topic":"","x":850,"y":940,"wires":[["2205312.cb34dce"]]},{"id":"2b80c69c.e270aa","type":"ui_text","z":"dd948e97.077d3","group":"efd8a284.e149","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":980,"wires":[]},{"id":"e2997c77.756c6","type":"function","z":"dd948e97.077d3","name":"selection dynamique","func":"//type\nvar msg2 = {};\n//value\nvar msg3 = {};\n//motor\nvar msg4 = {}\n//execute\nvar msg5 = {};\n//motor option\nvar msg6 = {};\n\nif ((msg.payload == \"01\")||(msg.payload == \"02\")){\n   msg2.enabled = false ; \n   msg2.options = [{\"0- <don't care>\":\"00\"}];\n   msg2.payload = \"00\";\n   //msg3.payload = \"0\" ;\n   msg3.enabled = true ;\n   msg.options =  [{\"0- <don't care>\":\"00\"}] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n} \nif ((msg.payload == \"03\")){\n   msg2.enabled = false ; \n   msg2.options = [{\"0- <don't care>\":\"00\"}];\n   msg2.payload = \"00\";\n   msg3.enabled = false ; \n   msg3.payload = 0 ;\n   msg.options =  [{\"0- <don't care>\":\"00\"}] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n   context.global.value = 0;\n}\nif ((msg.payload == \"04\")){\n   msg2.enabled = true ; \n   msg3.enabled = true ;\n   //msg3.payload = \"0\" ;\n   msg.options =  [ {\"0- ABS absolute\":\"00\"}, {\"1- REL relative\":\"01\"}, {\"2- COORD coordinate\":\"02\"} ] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n}\nif ((msg.payload == \"05\")){\n   msg2.enabled = true ; \n   msg3.enabled = true ;\n   //msg3.payload = \"0\" ;\n   msg.options =  [ {\"0- next position\":\"00\"}, {\"1- actual position\":\"01\"}, {\"2- next speed [pps]\":\"02\"}, {\"3- actual speed [pps]\":\"03\"}, {\"4- max positionning speed [pps]\":\"04\"}, {\"5- max accelaration [pps²]\":\"05\"}, {\"140- microstep resolution\":\"8c\"} ] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n}\nif ((msg.payload == \"14\")){\n   msg2.enabled = true ; \n   msg3.enabled = true ;\n   //msg3.payload = \"0\" ;\n   msg.options =  [ {\"0- OUT0\":\"00\"}, {\"1- OUT1\":\"01\"} ] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- pullup\":\"00\"}, {\"2- output\":\"02\"}] ;\n   msg6.payload = \"00\";\n}\n\nreturn [msg, msg2, msg3, msg4, msg5, msg6];","outputs":"6","noerr":0,"x":580,"y":980,"wires":[["a769e3f7.1c2a"],["a769e3f7.1c2a"],["b491d640.330418"],["d630ab7.4c38d58"],["b32db581.8daba8"],["d630ab7.4c38d58"]]},{"id":"891d048.12688f8","type":"function","z":"dd948e97.077d3","name":"type","func":"context.global.type = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":860,"wires":[[]]},{"id":"6ddfb34a.81c85c","type":"function","z":"dd948e97.077d3","name":"value","func":"context.global.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":900,"wires":[[]]},{"id":"2205312.cb34dce","type":"function","z":"dd948e97.077d3","name":"motor","func":"context.global.motor = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":940,"wires":[[]]},{"id":"2455dadf.e93156","type":"function","z":"dd948e97.077d3","name":"instruction","func":"context.global.instruction = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1060,"wires":[[]]},{"id":"8afad0af.767f5","type":"function","z":"dd948e97.077d3","name":"attrib. Global","func":"var msg2 = {};\nmsg.payload = \"/home/pi/random_multiple.py\";\nmsg2.payload = \"direct;\" + context.global.instruction + \";\" + context.global.type + \";\" + context.global.motor + \";\" + context.global.value+\";\";\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":1030,"y":820,"wires":[["7585ce4.a41ba3","42e882dd.13b02c"],["e4765cba.0c5c9","42e882dd.13b02c"]]},{"id":"a769e3f7.1c2a","type":"ui_dropdown","z":"dd948e97.077d3","name":"","label":"Type: ","group":"efd8a284.e149","order":2,"width":"8","height":"1","passthru":true,"options":[],"payload":"","topic":"","x":850,"y":860,"wires":[["891d048.12688f8"]]},{"id":"78b9a210.00d4ec","type":"inject","z":"dd948e97.077d3","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":630,"y":900,"wires":[["b491d640.330418"]]},{"id":"b491d640.330418","type":"ui_text_input","z":"dd948e97.077d3","name":"","label":"Value","group":"efd8a284.e149","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":850,"y":900,"wires":[["6ddfb34a.81c85c"]]},{"id":"fdb32519.be0768","type":"ui_button","z":"dd948e97.077d3","name":"","group":"771b412a.84566","order":3,"width":0,"height":0,"label":"Reboot Raspberry pi","color":"","bgcolor":"","icon":"","payload":"reboot rpi ?","payloadType":"str","topic":"","x":180,"y":2140,"wires":[["31b11274.0f5ade"]]},{"id":"2ef83a03.431dc6","type":"exec","z":"dd948e97.077d3","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"Reboot/Shutdown","x":830,"y":2160,"wires":[[],[],[]]},{"id":"943ae8be.bc4b88","type":"ui_button","z":"dd948e97.077d3","name":"","group":"771b412a.84566","order":4,"width":0,"height":0,"label":"Shutdown Raspberry pi","color":"","bgcolor":"","icon":"","payload":"shutdown rpi ?","payloadType":"str","topic":"","x":190,"y":2200,"wires":[["b14baefc.2e548"]]},{"id":"31b11274.0f5ade","type":"ui_toast","z":"dd948e97.077d3","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"No","cancel":"Yes","topic":"","name":"","x":490,"y":2140,"wires":[["fa494307.ffc39"]]},{"id":"b14baefc.2e548","type":"ui_toast","z":"dd948e97.077d3","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"No","cancel":"Yes","topic":"","name":"","x":490,"y":2200,"wires":[["a70c346a.44b0d8"]]},{"id":"10823594.0aaada","type":"comment","z":"dd948e97.077d3","name":"Contrôles RPI","info":"","x":152.1999969482422,"y":2080.4000244140625,"wires":[]},{"id":"fa494307.ffc39","type":"function","z":"dd948e97.077d3","name":"?","func":"if (msg.payload == \"Yes\")\n    msg.payload = \"sudo reboot\";\nreturn [msg];\n\n","outputs":"1","noerr":0,"x":650,"y":2140,"wires":[["2ef83a03.431dc6"]]},{"id":"a70c346a.44b0d8","type":"function","z":"dd948e97.077d3","name":"?","func":"if (msg.payload == \"Yes\")\n    msg.payload = \"sudo shutdown -h now\";\nreturn [msg];\n\n","outputs":"1","noerr":0,"x":650,"y":2200,"wires":[["2ef83a03.431dc6"]]},{"id":"e1c10659.6114b8","type":"rpi-gpio in","z":"dd948e97.077d3","name":"Input GPIO 7","pin":"7","intype":"up","debounce":"25","read":false,"x":370,"y":160,"wires":[["d07d52c7.64cb6"]]},{"id":"b3138c4f.439ae","type":"ui_toast","z":"dd948e97.077d3","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":490,"y":1640,"wires":[]},{"id":"197c66de.d70489","type":"delay","z":"dd948e97.077d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":400,"wires":[["15678c2a.5a1464"]]},{"id":"111f365b.f5a2ca","type":"ui_text","z":"dd948e97.077d3","group":"771b412a.84566","order":2,"width":"8","height":"2","name":"","label":"Input GPIO 7:   ","format":"{{msg.payload}}","layout":"row-left","x":560,"y":1420,"wires":[]},{"id":"748b6d10.f6fc94","type":"inject","z":"dd948e97.077d3","name":"","topic":"repeat","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":true,"x":190,"y":1420,"wires":[["7a9df652.abe3d8"]]},{"id":"7a9df652.abe3d8","type":"function","z":"dd948e97.077d3","name":"scrut_tic","func":"msg.payload = context.global.tic;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1420,"wires":[["111f365b.f5a2ca"]]},{"id":"266495cd.7197ca","type":"comment","z":"dd948e97.077d3","name":"Affichage du compteur de boucle pour le déclenchement en mode automatique","info":"","x":370,"y":1380,"wires":[]},{"id":"d07d52c7.64cb6","type":"delay","z":"dd948e97.077d3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":850,"y":160,"wires":[["66f0191c.273688"]]},{"id":"2330fd10.5dd242","type":"file","z":"dd948e97.077d3","name":"","filename":"/media/pi/48C2-7DEF/output.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","x":410,"y":100,"wires":[]},{"id":"76a15746.e60f88","type":"comment","z":"dd948e97.077d3","name":"Selection dynamique","info":"","x":190,"y":680,"wires":[]},{"id":"feab7896.5260f8","type":"rpi-gpio in","z":"dd948e97.077d3","name":"Input GPIO 26","pin":"37","intype":"up","debounce":"25","read":false,"x":370,"y":200,"wires":[["db01bf57.47142"]]},{"id":"db01bf57.47142","type":"delay","z":"dd948e97.077d3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":850,"y":200,"wires":[["66f0191c.273688"]]},{"id":"2d7933ec.d45a0c","type":"rpi-gpio in","z":"dd948e97.077d3","name":"Input GPIO 18","pin":"12","intype":"up","debounce":"25","read":false,"x":370,"y":240,"wires":[["833f08e7.c2f498"]]},{"id":"833f08e7.c2f498","type":"delay","z":"dd948e97.077d3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":850,"y":240,"wires":[["66f0191c.273688"]]},{"id":"14cba079.5028f","type":"rpi-gpio in","z":"dd948e97.077d3","name":"Input GPIO 16","pin":"36","intype":"up","debounce":"25","read":false,"x":370,"y":280,"wires":[["8fc52ff4.b92a7"]]},{"id":"8fc52ff4.b92a7","type":"delay","z":"dd948e97.077d3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":850,"y":280,"wires":[["66f0191c.273688"]]},{"id":"c63c12ea.2f553","type":"ui_group","z":"","name":"Auto mode","tab":"730abb7a.22e254","order":6,"disp":false,"width":"8"},{"id":"2e93a84f.562e78","type":"ui_group","z":"","name":"graph_position","tab":"730abb7a.22e254","order":2,"disp":false,"width":"8"},{"id":"4285f18a.4c24a","type":"ui_group","z":"","name":"graph_vitesse","tab":"730abb7a.22e254","order":1,"disp":false,"width":"8"},{"id":"5674489b.7d5128","type":"ui_group","z":"","name":"Actions","tab":"","order":4,"disp":true,"width":"6"},{"id":"77a22983.451218","type":"ui_group","z":"","name":"graph_switch","tab":"730abb7a.22e254","order":3,"disp":false,"width":"8"},{"id":"6ae9a750.bbe538","type":"websocket-listener","z":"","path":"/receive","wholemsg":"false"},{"id":"cfbe43c1.3556e","type":"websocket-listener","z":"","path":"/publish","wholemsg":"false"},{"id":"baec0a19.7c8468","type":"websocket-listener","z":"","path":"/config","wholemsg":"false"},{"id":"edabb005.4af97","type":"websocket-listener","z":"","path":"/output","wholemsg":"false"},{"id":"771b412a.84566","type":"ui_group","z":"","name":"Contrôle","tab":"730abb7a.22e254","order":4,"disp":false,"width":"8"},{"id":"efd8a284.e149","type":"ui_group","z":"","name":"Direct mode","tab":"730abb7a.22e254","order":5,"disp":false,"width":"8"},{"id":"730abb7a.22e254","type":"ui_tab","z":"","name":"Moteur pas à pas | Sylvain Courrech du Pont","icon":"fa-sort-amount-desc ","order":1}]