01-Banc-de-mesure-vrille/EG&G7220-Lockin/EG&G7220-NR.json
[
    {
        "id": "c7f07161.693cf8",
        "type": "serial in",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "serial": "551c84a5.7d01cc",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "70b311fa.fd1098",
                "3a36623e.95a5de",
                "e2d6afd5.eb0b1"
            ]
        ]
    },
    {
        "id": "70b311fa.fd1098",
        "type": "function",
        "z": "be32fcf4.1a10c8",
        "name": "cleanANswer",
        "func": "/*\nif(msg.payload.substr(0,4)!=='MAG.'){\n    msg.payload = parseFloat(msg.payload);\n    if (!isNaN(parseFloat(msg.payload))) return msg;\n}\n*/\n\nif(msg.payload.substr(0,3)!=='MP.'){\n    const exp_reg = /(?=E)/gi ;\n    var resultat = msg.payload.match(exp_reg);\n    if(resultat){\n        split = msg.payload.split(',');\n        if(split.length==2){\n            var msg2 = {} ;\n            msg.payload = parseFloat(split[0]);\n            msg.topic = 'M';\n            msg2.payload = parseFloat(split[1]);\n            msg2.topic = 'P';\n            if (!isNaN(parseFloat(msg.payload))&&!isNaN(parseFloat(msg2.payload))) return [msg,msg2];\n        }\n    }\n}\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "a7bb8edf.cba038",
                "8a20d4b6.5ef538"
            ],
            [
                "4a00f732.98072",
                "5faea949.a9f2f8"
            ]
        ]
    },
    {
        "id": "4294fb24.b585f4",
        "type": "inject",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "b5831e79.8bfaa"
            ]
        ]
    },
    {
        "id": "a7bb8edf.cba038",
        "type": "ui_chart",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "group": "1501939f.c0ab14",
        "order": 1,
        "width": "24",
        "height": "18",
        "label": "Magnitude",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e8aeae",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 810,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b5831e79.8bfaa",
        "type": "function",
        "z": "be32fcf4.1a10c8",
        "name": "MP. 100ms",
        "func": "if(context.global.st === 'START'){\n    msg.payload = 'MP. ' ;\n    return msg ;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.global.st = 'STOP' ;",
        "finalize": "",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "bdba8d0c.20139"
            ]
        ]
    },
    {
        "id": "bdba8d0c.20139",
        "type": "serial out",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "serial": "551c84a5.7d01cc",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "4a00f732.98072",
        "type": "ui_chart",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "group": "1501939f.c0ab14",
        "order": 1,
        "width": "24",
        "height": "7",
        "label": "Phase",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e8aeae",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8a20d4b6.5ef538",
        "type": "websocket out",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "server": "970e05da.31b8f8",
        "client": "",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "5faea949.a9f2f8",
        "type": "websocket out",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "server": "940a6a2c.b68c",
        "client": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "3b4f0368.ff82d4",
        "type": "websocket in",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "server": "d0152bd4.a4e818",
        "client": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "513f2e95.d77da"
            ]
        ]
    },
    {
        "id": "513f2e95.d77da",
        "type": "function",
        "z": "be32fcf4.1a10c8",
        "name": "Repeat x10",
        "func": "for (let i=0;i<10;i++){\n    setTimeout(function(){\n        node.send(msg);\n    },100);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "3f345ce2.8f3c5c"
            ]
        ]
    },
    {
        "id": "3f345ce2.8f3c5c",
        "type": "serial out",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "serial": "551c84a5.7d01cc",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "3a36623e.95a5de",
        "type": "debug",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "73bf17dc.b85ee8",
        "type": "websocket in",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "server": "edad7096.b3db5",
        "client": "",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "8c396c45.0f84"
            ]
        ]
    },
    {
        "id": "8c396c45.0f84",
        "type": "function",
        "z": "be32fcf4.1a10c8",
        "name": "ST",
        "func": "context.global.st = msg.payload ;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e2d6afd5.eb0b1",
        "type": "debug",
        "z": "be32fcf4.1a10c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "551c84a5.7d01cc",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "7",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n\\r",
        "responsetimeout": "10000"
    },
    {
        "id": "1501939f.c0ab14",
        "type": "ui_group",
        "z": "",
        "name": "Real Time Series",
        "tab": "67f4c7c8.9a32e8",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "970e05da.31b8f8",
        "type": "websocket-listener",
        "z": "",
        "path": "/magnitude",
        "wholemsg": "false"
    },
    {
        "id": "940a6a2c.b68c",
        "type": "websocket-listener",
        "z": "",
        "path": "/phase",
        "wholemsg": "false"
    },
    {
        "id": "d0152bd4.a4e818",
        "type": "websocket-listener",
        "z": "",
        "path": "/sensibility",
        "wholemsg": "false"
    },
    {
        "id": "edad7096.b3db5",
        "type": "websocket-listener",
        "z": "",
        "path": "/ST",
        "wholemsg": "false"
    },
    {
        "id": "67f4c7c8.9a32e8",
        "type": "ui_tab",
        "z": "",
        "name": "EG&G 7220 Lock-in",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
