02-Cyberscope-microscope/CyberScope-v1-mda2/Migration-version/CyberScope-v1-mda2/correction-MDA2.7-BUSY.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"39f069e3.67f93e","type":"serial-port","z":"410c9b8f.e7705c","serialport":"/dev/cu.usbmodem271161","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":false\},\{"id":"42a5ddba.ef88dc","type":"inject","z":"66ec5b13.04cbec","name":"STOP","topic":"","payload":"MDA-FINISH","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":960,"wires":[["bd4387b0.279648"]]\},\{"id":"df4a6e12.3fdec8","type":"function","z":"66ec5b13.04cbec","name":"MDA time Order","func":"if(msg.payload === 'MDA-FINISH')\{\\n    context.global.startMDA = 0 ;\\n    node.status (\{fill:\\"red\\",shape:\\"dot\\", text: \\"STOP\\"\});\\n    msg.payload = \\"STOP,\\"+Date.now();\\n    node.send(msg);    \\n\}\\nif(msg.payload === 'MDA-NEXT')\{\\n    context.global.startMDA = 0 ;\\n    node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"NEXT\\"\});\\n    msg.payload = \\"NEXT,\\"+Date.now();\\n    node.send(msg);    \\n\}\\nif(msg.payload === 'MDA-START')\{\\n    context.global.startMDA = 1 ;\\n    node.status (\{text: \\"waiting stop ...\\"\});\\n    msg.payload = \\"START,\\"+Date.now();\\n    node.send(msg);    \\n\}","outputs":1,"noerr":0,"x":420,"y":420,"wires":[[]]\},\{"id":"bad0ae6b.c67b3","type":"function","z":"66ec5b13.04cbec","name":"Sequencer Cyberscope","func":"if( (context.global.startMDA === 1) && (context.global.initialize === true))\{\\n    var length = context.global.sequence2[context.global.sync2].length ;\\n    //Extent\\n    if((msg.payload === 'done'))\{\\n        context.global.extent = msg.extent ;\\n        if(context.global.extent===true)\{\\n            if(length===context.global.sync3) context.global.valid = true ;\\n            else context.global.valid = false  ;\\n        \}\\n        if(context.global.extent===false)\{\\n            context.global.valid = true ;\\n        \}\\n        context.global.time = parseInt((Date.now()-context.global.initTime)/1000);\\n    \}\\n    //\\n    //Next instruction\\n    if( length  !== context.global.sync3 )\{\\n        var order = context.global.sequence2[context.global.sync2];\\n        \\n        if((msg.payload === 'done'))\{\\n            context.global.checkFinish = context.global.checkFinish + 1 ;\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: global.get('scanTime')+\\"-\\"+context.global.sync2+\\"-\\"+context.global.sync3+\\"-o-\\"+context.global.finish+\\"-\\"+context.global.checkFinish\});\\n            if(context.global.checkFinish === context.global.finish)\{\\n                context.global.checkFinish = 0 ;\\n                if(order.length !==1) \{\\n                    context.global.finish = order[context.global.sync3].length ; // nombre d'instructions dans la branche la plus profonde de l'object sequencer\\n                    for(var i=0;i<order[context.global.sync3].length;i++)\{ \\n                        //Conditionnel\\n                        var calculIf = true ;\\n                        for(var idIf in context.global.if)\{\\n                                var findIf = order[context.global.sync3][i]['if'].indexOf(idIf) ;\\n                                if(findIf!==-1)\{ \\n                                    calculIf = calculIf && context.global.if[idIf] ;\\n                                    break;\\n                                \}\\n                            \\n                        \}\\n                        //Break\\n                        var calculBreak = true ;\\n                        for(var idBreak in context.global.break)\{\\n                                var findBreak = order[context.global.sync3][i]['loop'].indexOf(idBreak) ;\\n                                //node.send(\{'payload':context.global.break\});\\n                                //node.warn(idBreak +'-'+ findBreak);\\n                                if(findBreak!==-1)\{ \\n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\\n                                    break;\\n                                \}\\n                        \}\\n                        //ici on regarde si le break est le premier du tableau\\n                        //si oui ca veut dire qu'on break la boucle principale donc on doit\\n                        //jouer le step prochain dans le tableau step en global\\n                        //node.warn('1'+findBreak);\\n                        node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: global.get('scanTime')+\\"-\\"+context.global.sync2+\\"-\\"+context.global.sync3+\\"-\\"+calculIf+\\"-\\"+context.global.finish+\\"-\\"+context.global.checkFinish\});\\n                        if(findBreak===0)\{\\n                            node.send(\{\\n                                'topic' : 'next',\\n                                'device' : 'next',\\n                                'payload' : 'MDA-NEXT',\\n                                'sync' : order[context.global.sync3][i]['sync'],\\n                                'extent' : true,\\n                                'if' : [],\\n                                'loop' : []\\n                                \});\\n                        \}\\n                        else \{\\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3][i]);\\n                            else node.send(\{'payload' : 'done', 'sync' : order[context.global.sync3][i]['sync']\});\\n                        \}\\n                        //\\n                    \}\\n                \}\\n                else\{ \\n                    //Conditionnel\\n                    var calculIf = true ;\\n                    for(var idIf in context.global.if)\{\\n                        var findIf = order[context.global.sync3]['if'].indexOf(idIf) ;\\n                        if(findIf!==-1)\{ \\n                            calculIf = calculIf && context.global.if[idIf] ;\\n                            break ;\\n                        \}\\n                    \}\\n                        //Break\\n                        var calculBreak = true ;\\n                        for(var idBreak in context.global.break)\{\\n                                var findBreak = order[context.global.sync3]['loop'].indexOf(idBreak) ;\\n                                if(findBreak!==-1)\{ \\n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\\n                                    break;\\n                                \}\\n                            \\n                        \}\\n                        //node.warn('2'+findBreak);\\n                        node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: global.get('scanTime')+\\"-\\"+context.global.sync2+\\"-\\"+context.global.sync3+\\"-\\"+calculIf+\\"-\\"+context.global.finish+\\"-\\"+context.global.checkFinish\});\\n                        if(findBreak===0)\{\\n                            node.send(\{\\n                                'topic' : 'next',\\n                                'device' : 'next',\\n                                'payload' : 'MDA-NEXT',\\n                                'sync' : order[context.global.sync3]['sync'],\\n                                'extent' : true,\\n                                'if' : [],\\n                                'loop' : []\\n                                \});\\n                        \}\\n                        else \{\\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3]);\\n                            else node.send(\{'payload' : 'done', 'sync' : order[context.global.sync3]['sync']\});\\n                        \}\\n                        //\\n                    //\\n                    context.global.finish = 1 ;\\n                \}\\n                context.global.sync3 = context.global.sync3 + 1 ;\\n            \}\\n        \}\\n        //premi\'e8re fois quand on appuie sur start ou premi\'e8re instruction d'un groupe temporaire\\n        else\{\\n            if(order.length !==1) \{\\n                context.global.finish = order[context.global.sync3].length ; // nombre d'instructions dans la branche la plus profonde de l'object sequencer\\n                for(var i=0;i<order[context.global.sync3].length;i++)\{\\n                    //Conditionnel\\n                    var calculIf = true ;\\n                    for(var idIf in context.global.if)\{\\n                        var findIf = order[context.global.sync3][i]['if'].indexOf(idIf) ;\\n                        if(findIf!==-1)\{  \\n                            calculIf = calculIf && context.global.if[idIf]  ;\\n                            break ;\\n                        \}\\n                    \}\\n                        //Break\\n                        var calculBreak = true ;\\n                        for(var idBreak in context.global.break)\{\\n                                var findBreak = order[context.global.sync3][i]['loop'].indexOf(idBreak) ;\\n                                if(findBreak!==-1)\{ \\n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\\n                                    break;\\n                                \}\\n                            \\n                        \}\\n                        //node.warn('3'+findBreak);\\n                        node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: global.get('scanTime')+\\"-\\"+context.global.sync2+\\"-\\"+context.global.sync3+\\"-\\"+calculIf+\\"-\\"+context.global.finish+\\"-\\"+context.global.checkFinish\});\\n                        if(findBreak===0)\{\\n                            node.send(\{\\n                                'topic' : 'next',\\n                                'device' : 'next',\\n                                'payload' : 'MDA-NEXT',\\n                                'sync' : order[context.global.sync3][i]['sync'],\\n                                'extent' : true,\\n                                'if' : [],\\n                                'loop' : []\\n                                \});\\n                        \}\\n                        else \{\\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3][i]);\\n                            else node.send(\{'payload' : 'done', 'sync' : order[context.global.sync3][i]['sync']\});\\n                        \}\\n                        //\\n                    //\\n                \}\\n            \}\\n            else \{ \\n                //Extent\\n                context.global.extent = order[context.global.sync3].extent ;\\n                if(context.global.extent===true)\{\\n                    if(length===context.global.sync3) context.global.valid = true ;\\n                    else context.global.valid = false  ;\\n                \}\\n                if(context.global.extent===false)\{\\n                    context.global.valid = true ;\\n                \}\\n                context.global.time = parseInt((Date.now()-context.global.timeInit)/1000);\\n                //\\n                context.global.finish = 1 ;\\n                //Conditionnel\\n                var calculIf = true ;\\n                for(var idIf in context.global.if)\{\\n                    var findIf = order[context.global.sync3][0]['if'].indexOf(idIf) ;\\n                    if(findIf!==-1)\{ \\n                        calculIf = calculIf && context.global.if[idIf] ;\\n                        break;\\n                    \}\\n                \}\\n                         //Break\\n                        var calculBreak = true ;\\n                        for(var idBreak in context.global.break)\{\\n                                var findBreak = order[context.global.sync3][0]['loop'].indexOf(idBreak) ;\\n                                \\n                                if(findBreak!==-1)\{ \\n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\\n                                    break;\\n                                \}\\n                            \\n                        \}\\n                        //node.warn('4'+findBreak);\\n                        node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: global.get('scanTime')+\\"-\\"+context.global.sync2+\\"-\\"+context.global.sync3+\\"-\\"+calculIf+\\"-\\"+context.global.finish+\\"-\\"+context.global.checkFinish\});\\n                        if(findBreak===0)\{\\n                            node.send(\{\\n                                'topic' : 'next',\\n                                'device' : 'next',\\n                                'payload' : 'MDA-NEXT',\\n                                'sync' : order[context.global.sync3][0]['sync'],\\n                                'extent' : true,\\n                                'if' : [],\\n                                'loop' : []\\n                                \});\\n                        \}\\n                        else \{\\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3][0]);\\n                            else node.send(\{'payload' : 'done', 'sync' : order[context.global.sync3][0]['sync']\});\\n                        \}\\n                        //\\n           \}\\n            context.global.sync3 = context.global.sync3 + 1 ;\\n        \}\\n    \}\\n\}","outputs":1,"noerr":0,"x":1390,"y":780,"wires":[["dc2cef3a.60dac","f39a92c.d8d1b7"]],"icon":"node-red/trigger.png"\},\{"id":"ed35ed17.2f7be8","type":"inject","z":"66ec5b13.04cbec","name":"START","topic":"","payload":"MDA-START","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":930,"y":920,"wires":[["bd4387b0.279648"]]\},\{"id":"bd4387b0.279648","type":"function","z":"66ec5b13.04cbec","name":"Stepper Cyberscope","func":"if(msg.payload === 'MDA-START')\{\\n    global.set('scanTime',0);\\n    clearTimeout(global.get('mdaSync')) ; clearTimeout(global.get('mdaSync')) ;\\n    \\n    context.global.startMDA=1; context.global.checkFinish=0; context.global.valid=false; \\n    context.global.sync2=String(0); context.global.sync3=0;\\n    context.global.initTime  = Date.now(); context.global.adjust = 0 ; context.global.time = 0;\\n    context.global.sequence2 = context.global.step[context.global.nextStep];\\n    \\n    msg.payload = context.global.sequence2[String(0)];\\n    node.send(msg);\\n    node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"START\\"\});\\n    \\n    context.global.keyPlay = [] ; context.global.keyPlay.push(String(0));\\n    \\n    var mdaSync = setInterval(function()\{\\n        scanTime = global.get('scanTime') + 0.25 ;\\n        global.set('scanTime', scanTime) ;\\n        if((context.global.valid))\{\\n            for(var key in context.global.sequence2)\{\\n                if((parseInt(key)<=(scanTime+context.global.adjust))&&(context.global.keyPlay.includes(key)===false))\{\\n                    context.global.adjust = (key) - parseInt((Date.now()-context.global.initTime)/1000);\\n                    if(context.global.adjust>=0) context.global.adjust= 0 ;\\n                    context.global.sync2 = key;\\n                    msg.payload = context.global.sequence2[key];\\n                    context.global.sync3 = 0;\\n                    context.global.keyPlay.push(key);\\n                    node.send(msg);\\n                    break ;\\n                \}\\n            \}\\n        \}        \\n    \},250);\\n    global.set('mdaSync',mdaSync);\\n\}\\nif(msg.payload === 'MDA-FINISH')\{\\n    context.global.startMDA = 0 ;\\n    clearTimeout(global.get('mdaSync')) ; clearTimeout(global.get('mdaSync')) ;\\n    global.set('scanTime',0) ;\\n    node.status (\{fill:\\"red\\",shape:\\"dot\\", text: \\"STOP\\"\});\\n    setTimeout(function()\{node.status (\{fill:\\"yellow\\",shape:\\"dot\\",text: \\"waiting start ...\\"\});\},2000);\\n\}\\nif(msg.payload === 'MDA-NEXT')\{\\n    context.global.startMDA = 0 ;\\n    clearTimeout(global.get('mdaSync')) ;  clearTimeout(global.get('mdaSync')) ;\\n    global.set('scanTime',0) \\n    node.status (\{fill:\\"red\\",shape:\\"dot\\", text: \\"STOP\\"\});\\n    setTimeout(function()\{node.status (\{fill:\\"green\\",shape:\\"dot\\",text: \\"restart next ...\\"\});\},2000);\\n\}","outputs":1,"noerr":0,"x":1120,"y":900,"wires":[["bad0ae6b.c67b3"]]\},\{"id":"42f5d879.82537","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["c581387b.2c28e"]]\},\{"id":"17fd0376.f21765","type":"function","z":"66ec5b13.04cbec","name":"1","func":"if(msg.device === '1')\{\\n    context.global.busy1 = setInterval(function()\{\\n        if(context.global.busy1Flag === false)\{\\n            context.global.busy1Flag = true ;\\n            msg.payload = \\"done\\";\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n            setTimeout(function()\{\\n                node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                node.send(msg);\\n            \},1000);\\n            clearInterval(context.global.busy1);\\n        \}\\n    \},10);\\n\}","outputs":1,"noerr":0,"x":790,"y":560,"wires":[["7087985b.11e038"]],"icon":"node-red/contrast.png"\},\{"id":"ebb775a6.6fd9e8","type":"function","z":"66ec5b13.04cbec","name":"2","func":"if(msg.device === '2')\{\\n    context.global.busy2 = setInterval(function()\{\\n        if(context.global.busy2Flag === false)\{\\n            context.global.busy2Flag = true ;\\n            msg.payload = \\"done\\";\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n            setTimeout(function()\{\\n                node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                node.send(msg);\\n            \},13000);\\n            clearInterval(context.global.busy2);\\n        \}\\n    \},10);\\n\}","outputs":1,"noerr":0,"x":790,"y":600,"wires":[["14f01016.b683c8"]],"icon":"node-red/contrast.png"\},\{"id":"8f172e34.1127f","type":"function","z":"66ec5b13.04cbec","name":"3","func":"if(msg.device === '3')\{\\n    context.global.busy3 = setInterval(function()\{\\n        if(context.global.busy3Flag === false)\{\\n            context.global.busy3Flag = true ;\\n            msg.payload = \\"done\\";\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n            setTimeout(function()\{\\n                node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                node.send(msg);\\n            \},1000);\\n            clearInterval(context.global.busy3);\\n        \}\\n    \},10);\\n\}","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["c1f7eff1.14b96"]],"icon":"node-red/contrast.png"\},\{"id":"f39a92c.d8d1b7","type":"link out","z":"66ec5b13.04cbec","name":"BREAK","links":["cc905b42.6f6bb8","e89e18e9.7df118","27f02f43.61eee","ebfe599e.be0bb8","3bde70fc.c71e6","a755d158.056cc8","7ac99ce5.fafb84","742639fc.941a8","eb0f9d19.90add","872fd45e.b58af8","83b53505.b9f838","d5c4eec.a5e6a1"],"x":1535,"y":780,"wires":[]\},\{"id":"a755d158.056cc8","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":680,"wires":[["32f1d11.fda51ae"]]\},\{"id":"32f1d11.fda51ae","type":"function","z":"66ec5b13.04cbec","name":"4","func":"if(msg.device === '4')\{\\n    context.global.busy4 = setInterval(function()\{\\n        if(context.global.busy4Flag === false)\{\\n           context.global.busy4Flag = true ;\\n            msg.payload = \\"done\\";\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n            setTimeout(function()\{\\n                node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                node.send(msg);\\n            \},1000);\\n            clearInterval(context.global.busy4);\\n        \}\\n    \},10);\\n\}","outputs":1,"noerr":0,"x":790,"y":680,"wires":[["5345fadd.28512c"]],"icon":"node-red/contrast.png"\},\{"id":"c747840a.00c5e8","type":"function","z":"66ec5b13.04cbec","name":"next","func":"if(msg.device === 'next')\{\\n    context.global.busyNext = setInterval(function()\{\\n        if(context.global.busyNextFlag === false)\{\\n            context.global.busyNextFlag = true ;\\n            context.global.nextStep = context.global.nextStep + 1 ;\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n            setTimeout(function()\{\\n                node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                node.send(\{'payload':'MDA-START'\});\\n            \},10);\\n            clearInterval(context.global.busyNext);    \\n        \}\\n    \},10);\\n\}","outputs":1,"noerr":0,"x":790,"y":840,"wires":[["e469f617.db4b48"]],"icon":"node-red/contrast.png"\},\{"id":"ade45642.95df5","type":"function","z":"66ec5b13.04cbec","name":"Stepper Extent = NO","func":"if((msg.payload === 'done')&&(msg.sync===parseInt(context.global.sync2))) \{node.send(msg);\}\\n\\n/*\\nFiltre pour bloquer un retour de r\'e9ponse qui aurait \'e9t\'e9 demand\'e9 avant que la dur\'e9e d'une boucle ne soit atteinte\\nAinsi on filtre sur msg.sync qui repr\'e9sente la cl\'e9 de l'object JSON;\\nC'est le context.global.sync2 qui dit on on se trouve temporellement\\nSi les deux indices ne sont pas \'e9gales cela signifit que la r\'e9ponse qu'on recoit n'appartient pas au temps en \\ncours mais \'e0 celui d'avant donc on n'envoie pas le message au s\'e9quenceur de risque de d\'e9clencher l'action suivante et de\\nd\'e9r\'e9gler le s\'e9quencement\\n*/\\n/*\\nAttention il faut pense \'e0 attendre que l'\'e9quipement en attente doit \'eatre libre de la communication\\nEt veillez \'e0 \'e9teindre les sources de lumi\'e8res, ou fermer les shutters\\n*/\\n","outputs":1,"noerr":0,"x":1140,"y":660,"wires":[["bad0ae6b.c67b3"]]\},\{"id":"ebfe599e.be0bb8","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":840,"wires":[["c747840a.00c5e8"]]\},\{"id":"27f02f43.61eee","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":640,"wires":[["8f172e34.1127f"]]\},\{"id":"cc905b42.6f6bb8","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":600,"wires":[["ebb775a6.6fd9e8"]]\},\{"id":"7ac99ce5.fafb84","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":560,"wires":[["17fd0376.f21765"]]\},\{"id":"3bde70fc.c71e6","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":955,"y":800,"wires":[["bd4387b0.279648"]]\},\{"id":"53efda71.4ede84","type":"debug","z":"66ec5b13.04cbec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":160,"wires":[]\},\{"id":"34c97b89.84b5c4","type":"debug","z":"66ec5b13.04cbec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":120,"wires":[]\},\{"id":"742639fc.941a8","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":955,"y":520,"wires":[["ade45642.95df5"]]\},\{"id":"eb0f9d19.90add","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":720,"wires":[["790caa12.af48dc"]]\},\{"id":"790caa12.af48dc","type":"function","z":"66ec5b13.04cbec","name":"If","func":"if(msg.device === 'if')\{\\n    context.global.busyIf = setInterval(function()\{\\n        if(context.global.busyIfFlag === false)\{\\n            context.global.busyIfFlag = true ;\\n            //Ici, on rempli notre JSON des condition (r\'e9f\'e9rence <> calcul de la condition)\\n            var strReplace = msg.cond.replace('NCELL','context.global.globalData.NCELL').replace('STATE_V1','context.global.globalData.STATE_V1').replace('STATE_V2','context.global.globalData.STATE_V2');\\n            //if(!context.global.if.hasOwnProperty(msg.id))\{\\n                //Ici il faut calculer la condition avec la fonction eval\\n            context.global.if[msg.id] = eval(strReplace) ;\\n            //\} else context.global.if[msg.id] = eval(strReplace) ;\\n            msg.payload = \\"done\\";\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n            setTimeout(function()\{\\n                node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                node.send(msg);\\n            \},0);\\n            clearInterval(context.global.busyIf);\\n        \}\\n    \},10);\\n\}","outputs":1,"noerr":0,"x":790,"y":720,"wires":[["be9c44c8.2917a8"]],"icon":"node-red/contrast.png"\},\{"id":"5ce3fed4.91054","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"request","payloadType":"global","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":200,"wires":[["31ee4617.53155a"]]\},\{"id":"dc2cef3a.60dac","type":"debug","z":"66ec5b13.04cbec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1610,"y":780,"wires":[]\},\{"id":"c581387b.2c28e","type":"function","z":"66ec5b13.04cbec","name":"Object sequencer 2Bis","func":"clearTimeout(global.get('mdaSync')) ;\\nglobal.set('scanTime',0) ;\\ncontext.global.request = false ;\\ncontext.global.extent = true ;\\ncontext.global.valid = false ;\\ncontext.global.initialize = true ;\\ncontext.global.nextStep = 0 ;\\n\\ncontext.global.if = \{\}\\ncontext.global.break = \{\}\\n\\ncontext.global.step = [] ;\\ncontext.global.step.push(\{\\n    \\"0\\" : \\n        [\\n            [\{\\n            'topic' : 'if',\\n            'device' : 'if',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'id' : \\"0123456789\\",\\n            'cond' : 'NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===true&&STATE_V2[0]===false',\\n            'loop' : []\\n            \}],/*\\n            [\{\\n            'topic' : 'goto',\\n            'device' : 'goto',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [\\"0123456789\\"],\\n            'where' : ['toto'],\\n            'break' : []\\n            \}],*/\\n            [\{\\n            'topic' : 'break',\\n            'device' : 'break',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'id' : \\"1\\",\\n            'break' : 'b1',\\n            'loop' : []\\n            \}],\\n            [\{\\n            'topic' : 'break',\\n            'device' : 'break',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'id' : \\"3\\",\\n            'break' : 'b3',\\n            'loop' : []\\n            \}],\\n            [\{\\n            'topic' : 'break',\\n            'device' : 'break',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'id' : \\"2\\",\\n            'break' : 'b2', //nom de la boucle a casser\\n            'loop' : []\\n            \}],\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : ['b','b2']\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789'],\\n            'loop' : ['br']\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : []\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : []\\n            \}]\\n        ],\\n    \\"10\\" : \\n        [\\n            \\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : [],\\n            'loop' : ['br']\\n            \}],\\n            /*[\{\\n            'topic' : 'goto',\\n            'device' : 'goto',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : [],\\n            'where' : ['toto']\\n            \}],*/\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : [],\\n            'loop' : ['br1','br']\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : [],\\n            'loop' : []\\n            \}] ,\\n            [\{\\n            'topic' : 'next',\\n            'device' : 'next',\\n            'payload' : 'MDA-NEXT',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : [],\\n            'loop' : []\\n            \}]// a voir si on ne le d\'e9place pas comme pour l'arr\'eat\\n        ]\\n    \});\\n    //context.global.step[0][0].unshift('Strawberry'); > close tous les shutter, rajoute en premier\\n    //pas en dernier\\n    //stop mosaic\\ncontext.global.step.push(\{\\n    \\"0\\" : \\n        [\\n            [\{\\n            'id' : 'toto' ,\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : ['loop1']\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : ['loop1']\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : ['loop2']\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : ['loop2']\\n            \}]\\n        ],\\n    \\"60\\" : \\n        [\\n            \\n            [\{\\n                'id' : 1,\\n                'topic' : '4',\\n                'device' : '4',\\n                'sync' : 60,\\n                'extent' : true,\\n                'if' : [],\\n                'loop' : ['loop1']\\n            \}],\\n            [\{\\n                'id' : 2,\\n                'topic' : '3',\\n                'device' : '3',\\n                'sync' : 60,\\n                'extent' : true,\\n                'if' : [],\\n                'loop' : ['loop1']\\n            \}],\\n            [\{\\n                'id' : 3,\\n                'topic' : '2',\\n                'device' : '2',\\n                'sync' : 60,\\n                'extent' : true,\\n                'if' : [],\\n                'loop' : ['loop1']\\n            \}],\\n            [\{\\n                'id' : 4,\\n                'topic' : 'next',\\n                'device' : 'next',\\n                'payload' : 'MDA-NEXT',\\n                'sync' : 60,\\n                'extent' : true,\\n                'if' : [],\\n                'loop' : []\\n            \}]// a voir si on ne le d\'e9place pas comme pour l'arr\'eat\\n        ]\\n    \});\\ncontext.global.step.push(\{\\n    \\"0\\" : \\n        [\\n        [\{\\n            'id' : '234324',\\n            'topic' : 'stop',\\n            'device' : 'stop',\\n            'payload' : 'MDA-FINISH',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'loop' : []\\n        \}] \\n        ]\\n    \});\\n/*\\ncontext.global.sequence2 = \{\\n    \\"0\\" : \\n        [\\n            [\{\\n            'topic' : 'if',\\n            'device' : 'if',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'id' : \\"0123456789\\",\\n            'cond' : 'true'\\n            \}],\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}]\\n        ],\\n    \\"10\\" : \\n        [\\n            [\{\\n            'topic' : 'if',\\n            'device' : 'if',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : [],\\n            'id' : \\"012345689\\",\\n            'cond' : 'true'\\n            \}],\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : ['012345689']\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : 'next',\\n            'device' : 'next',\\n            'payload' : 'MDA-NEXT',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : []\\n            \}]\\n        ],\\n    \\"20\\" : \\n        [\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}]\\n        ],\\n    \\"30\\" : \\n        [\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : 'if',\\n            'device' : 'if',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : [],\\n            'id' : \\"12345689\\",\\n            'cond' : 'true'\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : ['12345689']\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : []\\n            \}]\\n        ],\\n        \\"40\\" : \\n            [\\n                [\{\\n                'topic' : '4',\\n                'device' : '4',\\n                'sync' : 40,\\n                'extent' : false,\\n                'if' : []\\n                \}]\\n            ],\\n        \\"50\\" : \\n            [\\n                [\{\\n                'topic' : '4',\\n                'device' : '4',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : ['12345689','0123456789']\\n                \}],\\n                [\{\\n                'topic' : '3',\\n                'device' : '3',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : ['0123456789']\\n                \}],\\n                [\{\\n                'topic' : '2',\\n                'device' : '2',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : ['12345689']\\n                \}],\\n                [\{\\n                'topic' : '1',\\n                'device' : '1',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : []\\n                \}],\\n                [\{\\n                'payload' : 'MDA-FINISH',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : []\\n                \}]\\n            ]\\n\}\\n*/\\nmsg.payload = context.global.step ;\\nreturn msg ;\\n\\n\\n/*\\nAttention quand on a un extent false et qu'on met un MDA finish il n'est pas pris en compte\\ncar le extent false ne prend pas en compte les instructions suivantes !!!!\\n*/","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["34c97b89.84b5c4"]]\},\{"id":"867b0c0c.fa5498","type":"function","z":"66ec5b13.04cbec","name":"goto","func":"if(msg.device === 'goto')\{\\n    context.global.busyGoto = setInterval(function()\{\\n        if(context.global.busyGotoFlag === false)\{\\n            context.global.busyGotoFlag = true ;\\n            for(var i=0; i<context.global.step.length;i++)\{\\n                if(context.global.step[i][0][0][0].id===msg.where[0])\{\\n                    context.global.nextStep = i ;\\n                    node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n                    setTimeout(function()\{\\n                        node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                        node.send(\{'payload':'MDA-START'\});\\n                    \},10);\\n                    break ;\\n                \}\\n            \}\\n            clearInterval(context.global.busyGoto);    \\n        \}\\n    \},10);   \\n\}","outputs":1,"noerr":0,"x":790,"y":880,"wires":[["488d13d0.c5e974"]],"icon":"node-red/contrast.png"\},\{"id":"83b53505.b9f838","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":880,"wires":[["867b0c0c.fa5498"]]\},\{"id":"7ae9b9e.2eb51c8","type":"catch","z":"66ec5b13.04cbec","name":"","scope":["2090dde7.87eaa2"],"uncaught":false,"x":370,"y":160,"wires":[["53efda71.4ede84"]]\},\{"id":"d5c4eec.a5e6a1","type":"link in","z":"66ec5b13.04cbec","name":"","links":["f39a92c.d8d1b7"],"x":695,"y":760,"wires":[["33c55f0c.b07738"]]\},\{"id":"33c55f0c.b07738","type":"function","z":"66ec5b13.04cbec","name":"break","func":"if(msg.device === 'break')\{\\n    context.global.busyBreak = setInterval(function()\{\\n        if(context.global.busyBreakFlag === false)\{\\n            context.global.busyBreakFlag = true ;\\n            //if(!context.global.break.hasOwnProperty(msg.break))\{\\n            context.global.break[msg.break] = true ; //false \'e7a veut qu'on ne le fait pas\\n            //\} else context.global.break[msg.break] = true ; //false \'e7a veut dire qu'on ne le fait pas\\n            msg.payload = \\"done\\";\\n            node.status (\{fill:\\"yellow\\",shape:\\"dot\\", text: \\"request\\"\});\\n            setTimeout(function()\{\\n                node.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"done\\"\});\\n                node.send(msg);\\n            \},0);\\n            clearInterval(context.global.busyBreak);    \\n        \}\\n    \},10);\\n\}","outputs":1,"noerr":0,"x":790,"y":760,"wires":[["9e1be0ab.f006a8"]],"icon":"node-red/contrast.png"\},\{"id":"a0e4e3f9.15af8","type":"function","z":"66ec5b13.04cbec","name":"OLD ; Object sequencer 2","func":"context.global.extent = true ;\\ncontext.global.valid = false ;\\ncontext.global.initialize = true ;\\ncontext.global.if = \{\}\\ncontext.global.sequence2 = \{\\n    \\"0\\" : \\n        [\\n            [\{\\n            'topic' : 'if',\\n            'device' : 'if',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : [],\\n            'id' : \\"0123456789\\",\\n            'cond' : 'true'\\n            \}],\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 0,\\n            'extent' : false,\\n            'if' : ['0123456789']\\n            \}]\\n        ],\\n    \\"10\\" : \\n        [\\n            [\{\\n            'topic' : 'if',\\n            'device' : 'if',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : [],\\n            'id' : \\"012345689\\",\\n            'cond' : 'true'\\n            \}],\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : ['012345689']\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : 'next',\\n            'device' : 'next',\\n            'payload' : 'MDA-NEXT',\\n            'sync' : 10,\\n            'extent' : true,\\n            'if' : []\\n            \}]\\n        ],\\n    \\"20\\" : \\n        [\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 20,\\n            'extent' : false,\\n            'if' : []\\n            \}]\\n        ],\\n    \\"30\\" : \\n        [\\n            [\{\\n            'topic' : '4',\\n            'device' : '4',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : '3',\\n            'device' : '3',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : []\\n            \}],\\n            [\{\\n            'topic' : 'if',\\n            'device' : 'if',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : [],\\n            'id' : \\"12345689\\",\\n            'cond' : 'true'\\n            \}],\\n            [\{\\n            'topic' : '2',\\n            'device' : '2',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : ['12345689']\\n            \}],\\n            [\{\\n            'topic' : '1',\\n            'device' : '1',\\n            'sync' : 30,\\n            'extent' : true,\\n            'if' : []\\n            \}]\\n        ],\\n        \\"40\\" : \\n            [\\n                [\{\\n                'topic' : '4',\\n                'device' : '4',\\n                'sync' : 40,\\n                'extent' : false,\\n                'if' : []\\n                \}]\\n            ],\\n        \\"50\\" : \\n            [\\n                [\{\\n                'topic' : '4',\\n                'device' : '4',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : ['12345689','0123456789']\\n                \}],\\n                [\{\\n                'topic' : '3',\\n                'device' : '3',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : ['0123456789']\\n                \}],\\n                [\{\\n                'topic' : '2',\\n                'device' : '2',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : ['12345689']\\n                \}],\\n                [\{\\n                'topic' : '1',\\n                'device' : '1',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : []\\n                \}],\\n                [\{\\n                'payload' : 'MDA-FINISH',\\n                'sync' : 50,\\n                'extent' : true,\\n                'if' : []\\n                \}]\\n            ]\\n\}\\nmsg.payload = context.global.sequence2 ;\\nreturn msg ;\\n\\n\\n/*\\nAttention quand on a un extent false et qu'on met un MDA finish il n'est pas pris en compte\\ncar le extent false ne prend pas en compte les instructions suivantes !!!!\\n*/","outputs":1,"noerr":0,"x":350,"y":500,"wires":[[]]\},\{"id":"31ee4617.53155a","type":"debug","z":"66ec5b13.04cbec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":200,"wires":[]\},\{"id":"e83edaa1.a90388","type":"inject","z":"410c9b8f.e7705c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["a3429c76.b5d1"]]\},\{"id":"a3429c76.b5d1","type":"function","z":"410c9b8f.e7705c","name":"","func":"var busy = setInterval(function()\{\\n    node.warn(context.global.busy);\\n    if(context.global.busy === false)\{\\n        msg.payload = 'Bonjour';\\n        node.send(msg);\\n        clearInterval(busy);\\n    \}\\n\},1000);\\n","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["ac4a5689.a3fcf8"]]\},\{"id":"489520e7.48081","type":"inject","z":"410c9b8f.e7705c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":260,"wires":[["3b1bc518.3cc2f2"]]\},\{"id":"3b1bc518.3cc2f2","type":"function","z":"410c9b8f.e7705c","name":"busy = true","func":"context.global.busy = true ;\\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[[]]\},\{"id":"a7c5ff83.45b6d8","type":"inject","z":"410c9b8f.e7705c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":260,"wires":[["966c6489.e1f5"]]\},\{"id":"966c6489.e1f5","type":"function","z":"410c9b8f.e7705c","name":"busy = false","func":"context.global.busy = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[[]]\},\{"id":"ac4a5689.a3fcf8","type":"debug","z":"410c9b8f.e7705c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":200,"wires":[]\},\{"id":"33b09324.6b496c","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"\{\\"expanded\\":true,\\"key\\":\\"root_1\\",\\"title\\":\\"root\\",\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_2\\",\\"selected\\":false,\\"title\\":\\"Protocol\\",\\"type\\":\\"PROT\\",\\"data\\":\{\\"config\\":0,\\"comment\\":\\"\\",\\"prefix\\":\\"\\"\},\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_3\\",\\"selected\\":false,\\"title\\":\\"Group Position\\",\\"type\\":\\"GROUP\\",\\"skeep\\":1,\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_4\\",\\"selected\\":false,\\"title\\":\\"List of positions\\",\\"type\\":\\"LIST\\",\\"children\\":[\{\\"expanded\\":false,\\"key\\":\\"_5\\",\\"selected\\":false,\\"title\\":\\"XYZ Position -1\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"channel\\":\\"channel1\\",\\"res2\\":10\}\},\{\\"expanded\\":false,\\"key\\":\\"_6\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 0\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\}\},\{\\"expanded\\":false,\\"key\\":\\"_7\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 1\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\}\}]\},\{\\"expanded\\":false,\\"key\\":\\"_8\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_9\\",\\"selected\\":false,\\"title\\":\\"SC1 +Picture\\",\\"type\\":\\"CAMERA\\",\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\}]\},\{\\"expanded\\":true,\\"key\\":\\"_10\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 2\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\},\\"children\\":[\{\\"expanded\\":false,\\"key\\":\\"_11\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_12\\",\\"selected\\":false,\\"title\\":\\"SC1 +Picture\\",\\"type\\":\\"CAMERA\\",\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\}]\},\{\\"expanded\\":true,\\"key\\":\\"_139876\\",\\"selected\\":false,\\"title\\":\\"if\\",\\"type\\":\\"if\\",\\"skeep\\":1,\\"data\\":\{\\"sync\\":0,\\"extent\\":false,\\"if\\":[],\\"id\\":\\"0123789\\",\\"cond\\":\\"NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===true&&STATE_V2[0]===false\\",\\"loop\\":[]\},\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_18\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 20\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\},\\"children\\":[\{\\"key\\":\\"_19\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_20\\",\\"selected\\":false,\\"title\\":\\"SC2 + Picture\\",\\"type\\":\\"CAMERA\\",\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\},\{\\"expanded\\":false,\\"key\\":\\"_21\\",\\"selected\\":false,\\"title\\":\\"Mosaic\\",\\"type\\":\\"Mosaic\\",\\"skeep\\":0,\\"data\\":\{\\"image\\":\\"\\"\}\},\{\\"key\\":\\"_22\\",\\"selected\\":false,\\"title\\":\\"SC3 + ZS\\",\\"type\\":\\"ZS\\",\\"data\\":\{\\"skip\\":0,\\"zstart\\":-5,\\"zend\\":5,\\"zstep\\":1,\\"shutter\\":true\}\}]\},\{\\"expanded\\":true,\\"key\\":\\"_30\\",\\"selected\\":true,\\"title\\":\\"Sequence 2\\",\\"type\\":\\"LOOP\\",\\"data\\":\{\\"time\\":\\"2\\",\\"repeat\\":\\"4\\"\},\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_31\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 50\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\},\\"children\\":[\{\\"key\\":\\"_32\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"key\\":\\"_33\\",\\"selected\\":false,\\"title\\":\\"SC4 + ZS\\",\\"type\\":\\"ZS\\",\\"data\\":\{\\"skip\\":0,\\"zstart\\":-5,\\"zend\\":5,\\"zstep\\":1,\\"shutter\\":true\}\}]\},\{\\"expanded\\":true,\\"key\\":\\"_34\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 60\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\},\\"children\\":[\{\\"key\\":\\"_35\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_36\\",\\"selected\\":false,\\"title\\":\\"Mosaic\\",\\"type\\":\\"Mosaic\\",\\"skeep\\":1,\\"data\\":\{\\"image\\":\\"\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_37\\",\\"selected\\":false,\\"title\\":\\"SC6 + Picture\\",\\"skeep\\":1,\\"type\\":\\"CAMERA\\",\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\}]\},\{\\"expanded\\":true,\\"key\\":\\"_38\\",\\"selected\\":false,\\"title\\":\\"Group Position\\",\\"type\\":\\"GROUP\\",\\"skeep\\":1,\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_39\\",\\"selected\\":false,\\"title\\":\\"List of positions\\",\\"type\\":\\"LIST\\",\\"children\\":[\{\\"expanded\\":false,\\"key\\":\\"_40\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 70\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\}\},\{\\"expanded\\":false,\\"key\\":\\"_41\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 80\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\}\}]\},\{\\"expanded\\":false,\\"key\\":\\"_42\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_43\\",\\"selected\\":false,\\"title\\":\\"SC1 +Picture\\",\\"type\\":\\"CAMERA\\",\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\}]\}]\},\{\\"expanded\\":true,\\"key\\":\\"_14\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 10\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\},\\"children\\":[\{\\"key\\":\\"_15\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_16\\",\\"selected\\":false,\\"title\\":\\"SC1 + Picture\\",\\"type\\":\\"CAMERA\\",\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\},\{\\"expanded\\":false,\\"key\\":\\"_16\\",\\"selected\\":false,\\"title\\":\\"Mosaic\\",\\"type\\":\\"Mosaic\\",\\"data\\":\{\\"image\\":\\"\\"\}\},\{\\"key\\":\\"_17\\",\\"selected\\":false,\\"title\\":\\"SC4 + ZS\\",\\"type\\":\\"ZS\\",\\"data\\":\{\\"skip\\":0,\\"zstart\\":-5,\\"zend\\":5,\\"zstep\\":1,\\"shutter\\":true\}\}]\}]\},\{\\"expanded\\":true,\\"key\\":\\"_44\\",\\"selected\\":false,\\"title\\":\\"if\\",\\"type\\":\\"if\\",\\"skeep\\":1,\\"data\\":\{\\"sync\\":0,\\"extent\\":false,\\"if\\":[],\\"id\\":\\"0123456789\\",\\"cond\\":\\"NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===true&&STATE_V2[0]===false\\",\\"loop\\":[]\},\\"children\\":[\{\\"key\\":\\"_45\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\}]\}]\}],\\"type\\":\\"mda\\"\}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":160,"wires":[["2090dde7.87eaa2"]]\},\{"id":"e24ab4d3.dd90e8","type":"debug","z":"66ec5b13.04cbec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":120,"wires":[]\},\{"id":"2090dde7.87eaa2","type":"function","z":"66ec5b13.04cbec","name":"treeToDictAction","func":"/*\\nWilliams BRETT -\\nVersion 1: 05/02/2019\\nVersion 2: 12/09/2019\\nVersion 3: 25/01/2020\\n*/\\n\\ncontext.global.tableInstruction = [] ; \\ncontext.global.stepTime = -1 ; \\ncontext.global.sequencerTime = -1 ;\\n\\ncontext.global.keyLoop  = \{\} ;\\ncontext.global.keyIf    = \{\} ;\\ncontext.global.level    = 0 ;\\ncontext.global.saveLevel= 0;\\n\\nnode.status (\{fill:\\"red\\",shape:\\"dot\\", text: \\"Build instructions table\\"\});\\nvar protocol = msg.payload.children;\\nbuildChildrenTableInstruction(protocol[0].children,buildBooleanTrueTable(getNbChildren(protocol[0].children),1),'PROT'); /*? pk 100 ?*/\\nnode.status (\{fill:\\"green\\",shape:\\"dot\\", text: \\"Generate !\\"\});\\nnode.send(\{'payload':context.global.tableInstruction\});\\n\\n\\n/* cette fonction permet de construire les instructions du s\'e9quenceur */\\nfunction buildChildrenTableInstruction(obj,enabledChildren,parent)\{\\n    context.global.level ++ ;\\n   \\n    var repeat = getNbChildren(obj); //nbre d'enfant du protocole\\n    var iterator = 1 ; //par d\'e9faut on it\'e8re une fois sauf dans le cas d'une s\'e9quence et d'un groupe de positions\\n    while(repeat > 0)\{\\n        \\n        var childrenN = obj[getNbChildren(obj)-repeat] ; //on r\'e9cup\'e8re l'enfant courant de la boucle d'occurence\\n        if(childrenN.type === 'LOOP')\{ iterator = parseInt(childrenN.data.repeat) ;\} //ici nous sommes en pr\'e8sence d'une s\'e9quence\\n        if(childrenN.type === 'GROUP') \{iterator = getNbChildren(childrenN.children[0].children) ;\} //ici, nous sommes en pr\'e9sence d'un groupe de positions\\n        var iteratorCopy = iterator; //copie de l'it\'e9rateur pour balayer l'object JSON\\n        while(iterator > 0)\{\\n            if(childrenN.type === 'GROUP')\{\\n                \\n                if(enabledChildren[getNbChildren(obj)-repeat][0]===true)\{ /* v\'e9rification des flags d'activation transmis avant la r\'e9curssivit\'e9 pour un groupe entier de positions*/\\n                    //si il n'y a pas de loop, le skip n'a pas d'int\'e9ret car il n'y a pas de r\'e9currence\\n                    //a mofifier car le parent peut \'eatre plus haut dans l'arbre\\n                    //a faire avec le level et le tablea context.global.keyLoop\\n                    //en fait ici c'est if keyLoop is empty\\n                    //if((parent !== 'LOOP')||(enabledChildren[getNbChildren(obj)-repeat][iteratorCopy-iterator+1]===true))\{\\n                    if((Object.keys(context.global.keyLoop).length ===0)||(enabledChildren[getNbChildren(obj)-repeat][iteratorCopy-iterator+1]===true))\{\\n                        buildMdaInstruction(childrenN.children[0].children[iteratorCopy-iterator]);\\n                        buildChildrenTableInstruction(childrenN.children,enabledChildren,childrenN.type);\\n                    \}\\n                \}\\n            \}\\n            else \{\\n                if((childrenN.type === 'LOOP'))\{\\n                    context.global.saveLevel = 0 ;\\n                    //si la loop est au level 1, attention il faut que l'it\'e9rator soit \'e0 1 sinon on r\'e9p\'e9te le nombre de fois que le repeat de la loop\\n                    if((context.global.level === 1)&&(iterator===parseInt(childrenN.data.repeat)))\{ \\n                        node.warn('ttt');\\n                        context.global.stepTime++ ;\\n                        context.global.tableInstruction.push(\{\});\\n                        context.global.tableInstruction[context.global.stepTime]['0'] = [];\\n                    \}\\n                    //si la la loop n'est pas au premier niveau, on cr\'e9\'e9e un nouveau step si aucune loop n'a \'e9t\'e9 ajout\'e9 dans le tableau global et toujours quand l'it\'e9rateur est a 1. ce cas se pr\'e9sente dans une boucle de boucle car l'it\'e9rator va passer \'e0 1 donc on filtre en plus avec le nb de cl\'e9 dans l'objet global\\n                    if((context.global.level > 1)&&(iterator===parseInt(childrenN.data.repeat))&&(Object.keys(context.global.keyLoop).length ===0))\{ \\n                        node.warn('ttdsfdfst');\\n                        context.global.stepTime++ ;\\n                        context.global.tableInstruction.push(\{\});\\n                        context.global.tableInstruction[context.global.stepTime]['0'] = [];\\n                        context.global.saveLevel = context.global.level ;\\n                    \}\\n                    //ici on ajoute a l'objet keyLoop les id en fonction des levels dans l'obj\\n                    if(!context.global.keyLoop.hasOwnProperty(context.global.level)) context.global.keyLoop[context.global.level] = childrenN.key ;\\n                    \\n                    enabledChildren = buildBooleanTrueTable(iteratorCopy,1); //tableau de validation des enfants\\n                    //i c'est le compteur d'occurence de la boucle\\n                    for(i=0;i<getNbChildren(childrenN.children);i++)\{/*Ici on test pour les positions XYZ s'il y a des fr\'e9quences d'it\'e9rations > 1 si oui, il faut utiliser la fonction modulos, pour supprimer les positions en fonction de la fr\'e9quence d'it\'e9ration de la boucle, Idem pour les groupes de positions, Idem pour les loop*/\\n                        if(childrenN.hasOwnProperty('children')&&childrenN.children[i].hasOwnProperty('skeep')&&(childrenN.children[i].type==='XYZ')) //les positions, marquage des positions a ne pas r\'e9aliser\\n                            if((iterator%childrenN.children[i].skeep===0)===false)  enabledChildren[i][0] = false;\\n                        if(childrenN.hasOwnProperty('children')&&childrenN.children[i].hasOwnProperty('skeep')&&(childrenN.children[i].type==='GROUP'))\{/*les groupes de positions: idem*/\\n                            if((iterator%childrenN.children[i].skeep===0)===false) enabledChildren[i][0] = false; //groupe entier\\n                            for(var k=0;k<getNbChildren(childrenN.children[i].children[0].children);k++)\{ //pour les positions des groupes de positions, on \'e9tend le tableau en terme de colonne pour r\'e9pliquer le m\'eame sch\'e9ma que pour les groupes de positions ou positions simples\\n                                if((iterator%childrenN.children[i].children[0].children[k].skeep===0)===false) enabledChildren[i].push(false);\\n                                else enabledChildren[i].push(true);\\n                            \}\\n                        \} \\n                    \}\\n                    /*apr\'e8s suppression, s'il y a des enfants on construit par r\'e9curssivit\'e9 en transmettant les flags d'activation*/\\n                    if(childrenN.hasOwnProperty('children')) buildChildrenTableInstruction(childrenN.children,enabledChildren,childrenN.type);\\n                   //ici on enl\'e8ve a l'objet keyLoop les id en fonction des levels dans l'obj\\n                    delete context.global.keyLoop[context.global.level];\\n\\n                \}\\n                else \{\\n                    if(childrenN.type !== 'LIST')\{\\n                        if(childrenN.type == 'if')\{\\n                            //ici on ajoute a l'objet keyIf les id en fonction des levels dans l'obj\\n                            if(!context.global.keyIf.hasOwnProperty(context.global.level))\\n                            context.global.keyIf[context.global.level] = childrenN.key ;\\n                        \}\\n                        if(enabledChildren[getNbChildren(obj)-repeat][0]===true)\{ /* v\'e9rification des flags d'activation transmis avant la r\'e9curssivit\'e9 */\\n                            buildMdaInstruction(childrenN);\\n                            if(childrenN.hasOwnProperty('children')) \{\\n                                buildChildrenTableInstruction(childrenN.children,enabledChildren,childrenN.type);\\n                            \}\\n                        \}\\n                        //ici on enl\'e9ve a l'objet keyIf les id en fonction des levels dans l'obj\\n                        if(childrenN.type == 'if') delete context.global.keyIf[context.global.level];\\n                    \}\\n                \}\\n            \}\\n            iterator--;\\n        \}\\n        node.warn(context.global.level+';'+context.global.saveLevel+';'+childrenN.type+Object.keys(context.global.keyLoop).length);\\n        //next step apr\'e8s une boucle ou une boucle de boucle attention il faut savoir le level car sinon on ne sais pas ou le level de la loop avait \'e9t\'e9 cr\'e9e. De plus il faut v\'e9rifier qu'il y a des obj apr\'e9s la boucle mais au m\'eame niveau grace au repeat. Si le repeat est sup\'e9rieur a 1 c'est qu'il reste des instructions a r\'e9aliser\\n        if((context.global.level === context.global.saveLevel)&&(childrenN.type === 'LOOP')&&(Object.keys(context.global.keyLoop).length ===0))\{ \\n            node.warn('MAM');\\n            context.global.stepTime++ ;\\n            context.global.tableInstruction.push(\{\});\\n            context.global.tableInstruction[context.global.stepTime]['0'] = [];\\n        \}\\n        iterator = 1 ;\\n        repeat--;\\n    \}\\n    \\n    context.global.level -- ;\\n\}\\n\\n/* cette fonction retourne le nombre d'enfants d'une branche */\\nfunction getNbChildren(obj)\{\\n    return obj.length ;\\n\}\\n\\n/* cette fonction construit la table d'instructions pour controller les \'e9quipements de cyberScope en fonction des variables globales */\\nfunction buildMdaInstruction(obj)\{\\n    var o = \{\\n        'key' : '',\\n        'title' : 'title',\\n        'type' : 'type',\\n        'level': 1,\\n        'loop' : [],\\n        'if' : [],\\n        'cond' :'',\\n        'break':'',\\n        'where':''\\n        \} ;\\n    o.key = obj.key ;\\n    o.type = obj.type ;\\n    o.title = obj.title ;\\n    o.level = context.global.level ;\\n    if(Object.keys(context.global.keyLoop).length !==0)\{\\n        for(var key in context.global.keyLoop) \\n            o.loop.push(context.global.keyLoop[key]);\\n    \}\\n    if(Object.keys(context.global.keyIf).length !==0)\{\\n        for(var key in context.global.keyIf) \\n            o.if.push(context.global.keyIf[key]);\\n    \}\\n    switch(obj.type)\{\\n        case 'if':\\n            o.cond = obj.data.cond ;\\n            break;\\n        case 'goto':\\n            o.where = obj.data.where ;\\n            break ;\\n        case 'break':\\n            o.break = obj.data.break ;\\n    \}\\n    node.send(\{'payload' : o\});\\n    if(context.global.level === 1)\{ \\n        context.global.stepTime++ ;\\n        context.global.tableInstruction.push(\{\});\\n        context.global.tableInstruction[context.global.stepTime]['0'] = [];\\n    \}\\n    context.global.tableInstruction[context.global.stepTime]['0'].push([o]);\\n\}\\n\\n/* fonction de cr\'e9ation d'une table 2D en boolean */\\nfunction buildBooleanTrueTable(lg1,lg2)\{\\n    var outputTable = [] ;\\n    for(var i=0;i<lg1;i++) outputTable[i] = [lg2] ;\\n    for(i=0;i<lg1;i++) for(var j=0;j<lg2;j++) outputTable[i][j] = true ;\\n    return outputTable;\\n\}","outputs":1,"noerr":0,"x":980,"y":160,"wires":[["e24ab4d3.dd90e8","31aa4775.317fa8"]]\},\{"id":"b364af41.54def8","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"\{\\"expanded\\":true,\\"key\\":\\"_8\\",\\"selected\\":true,\\"title\\":\\"Sequence 2\\",\\"type\\":\\"LOOP\\",\\"data\\":\{\\"time\\":\\"2\\",\\"repeat\\":\\"4\\"\},\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_5\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 50\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\},\\"children\\":[\{\\"key\\":\\"_13\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"key\\":\\"_4\\",\\"selected\\":false,\\"title\\":\\"SC4 + ZS\\",\\"type\\":\\"LIGHT\\",\\"skeep\\":1,\\"data\\":\{\\"skip\\":0,\\"zstart\\":-5,\\"zend\\":5,\\"zstep\\":1,\\"shutter\\":true\}\}]\},\{\\"expanded\\":true,\\"key\\":\\"_5\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 60\\",\\"type\\":\\"XYZ\\",\\"skeep\\":2,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\},\\"children\\":[\{\\"key\\":\\"_13\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_16\\",\\"selected\\":false,\\"title\\":\\"Mosaic\\",\\"type\\":\\"Mosaic\\",\\"skeep\\":1,\\"data\\":\{\\"image\\":\\"\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_14\\",\\"selected\\":false,\\"title\\":\\"SC6 + Picture\\",\\"skeep\\":1,\\"type\\":\\"LIGHT\\",\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\}]\},\{\\"expanded\\":true,\\"key\\":\\"_5\\",\\"selected\\":false,\\"title\\":\\"Group Position\\",\\"type\\":\\"GROUP\\",\\"skeep\\":1,\\"children\\":[\{\\"expanded\\":true,\\"key\\":\\"_6\\",\\"selected\\":false,\\"title\\":\\"List of positions\\",\\"type\\":\\"LIST\\",\\"children\\":[\{\\"expanded\\":false,\\"key\\":\\"_5\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 70\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\}\},\{\\"expanded\\":false,\\"key\\":\\"_5\\",\\"selected\\":false,\\"title\\":\\"XYZ Position 80\\",\\"type\\":\\"XYZ\\",\\"skeep\\":1,\\"data\\":\{\\"xPosition\\":0,\\"yPosition\\":0,\\"zPosition\\":0,\\"res1\\":1,\\"res2\\":10\}\}]\},\{\\"expanded\\":false,\\"key\\":\\"_6\\",\\"selected\\":false,\\"title\\":\\"Autofocus\\",\\"type\\":\\"AF\\",\\"skeep\\":1,\\"data\\":\{\\"lower\\":30,\\"upper\\":30,\\"aftbl\\":\\"LCPlanFl 40x\\"\}\},\{\\"expanded\\":false,\\"key\\":\\"_7\\",\\"selected\\":false,\\"title\\":\\"SC1 +Picture\\",\\"type\\":\\"CAMERA\\",\\"skeep\\":1,\\"data\\":\{\\"time\\":100,\\"skip\\":0,\\"number\\":1,\\"zoffset\\":0\}\}]\}]\}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":120,"wires":[["f5e588fb.f1c2a8"]]\},\{"id":"f5e588fb.f1c2a8","type":"function","z":"66ec5b13.04cbec","name":"splice Children","func":"msg.payload.children.splice(0,1);\\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":120,"wires":[["e24ab4d3.dd90e8"]]\},\{"id":"c9814201.259f78","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":340,"wires":[["d4dfac09.0db848"]]\},\{"id":"d4dfac09.0db848","type":"function","z":"66ec5b13.04cbec","name":"Test EVAL","func":"var condition = 'NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===false&&STATE_V2[0]===false';\\nvar strReplace ;\\nvar condition = 'var ncell = NCELL.POS3_3.BF[0]; var z = 20; var result ;if(ncell===20*z) result = true; else result = false ;';\\nstrReplace = condition.replace('NCELL','context.global.globalData.NCELL').replace('STATE_V1','context.global.globalData.STATE_V1').replace('STATE_V2','context.global.globalData.STATE_V2');\\nnode.warn(eval(strReplace));\\nnode.log(node.id+' '+node.name);\\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":340,"wires":[["6c73fbb3.6084e4"]]\},\{"id":"6c73fbb3.6084e4","type":"debug","z":"66ec5b13.04cbec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1810,"y":340,"wires":[]\},\{"id":"c1a720b9.a14aa","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":420,"wires":[["e7d941a6.ba191"]]\},\{"id":"e7d941a6.ba191","type":"function","z":"66ec5b13.04cbec","name":"NCELL = 4000 ;","func":"//context.global.isblack = msg.payload ;\\ncontext.global.paramControl['NCELL'] = 4000 ;","outputs":1,"noerr":0,"x":1620,"y":420,"wires":[[]]\},\{"id":"6a828fe1.bf113","type":"comment","z":"66ec5b13.04cbec","name":"Gestion du IF","info":"Ici on simule la gestion du IF grace \'e0 la fonction eval qui nous permet de tester du code grace \'e0 une chaine de caract\'e8re","x":1410,"y":300,"wires":[]\},\{"id":"ec50db00.53082","type":"comment","z":"66ec5b13.04cbec","name":"Convertion","info":"Ici on converti l'arbre JTree HTML/Javascript en liste et plus pr\'e9cisemment un tableau qui alimenteration de context.global.step","x":780,"y":80,"wires":[]\},\{"id":"a7afc6a1.5e57b8","type":"comment","z":"66ec5b13.04cbec","name":"Sequenceur","info":"","x":770,"y":440,"wires":[]\},\{"id":"f57ce251.0a6a2","type":"comment","z":"66ec5b13.04cbec","name":"Init","info":"","x":130,"y":80,"wires":[]\},\{"id":"7087985b.11e038","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busy1Flag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":560,"wires":[["ae13ee4a.bc6d3","ade45642.95df5"]]\},\{"id":"c15f0aaa.f765a","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1140,"wires":[["b5533467.2ccc"]]\},\{"id":"b5533467.2ccc","type":"function","z":"66ec5b13.04cbec","name":"Init.","func":"var o = \{\\n    \\"topic\\":\\"break\\",\\n    \\"device\\":\\"break\\",\\n    \\"sync\\":0,\\n    \\"extent\\":false,\\n    \\"if\\":[],\\n    \\"id\\":\\"dd\\",\\n    \\"break\\":\\"br\\",\\n    \\"loop\\":[\\"br1\\",\\"br\\",\\"b2\\"],\\n    \\"_msgid\\":\\"90866b70.bec288\\"\\n\} ;\\n\\nfor(var idIf in context.global.break)\{\\n    var findIf = o['loop'].indexOf(idIf) ;\\n    if(findIf!==-1)\{ \\n        //calculIf = calculIf && context.global.if[idIf] ;\\n        break;\\n    \}\\n\\n\}\\nnode.warn(findIf);\\nmsg.payload = context.global.break ;\\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1140,"wires":[["72df684d.f92858"]]\},\{"id":"af2f97da.5c7d08","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":770,"y":1020,"wires":[["2a36ac89.967f14"]]\},\{"id":"2a36ac89.967f14","type":"function","z":"66ec5b13.04cbec","name":"busyFlag = false","func":"context.global.busy1Flag        = false ;\\ncontext.global.busy2Flag        = false ;\\ncontext.global.busy3Flag        = false ;\\ncontext.global.busy4Flag        = false ;\\ncontext.global.busyIfFlag       = false ;\\ncontext.global.busyBreakFlag    = false ;\\ncontext.global.busyNextFlag     = false ;\\ncontext.global.busyGotoFlag     = false ;\\ncontext.global.break            = \{\} ;","outputs":1,"noerr":0,"x":940,"y":1020,"wires":[[]]\},\{"id":"14f01016.b683c8","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busy2Flag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":600,"wires":[["ae13ee4a.bc6d3","ade45642.95df5"]]\},\{"id":"c1f7eff1.14b96","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busy3Flag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":640,"wires":[["ae13ee4a.bc6d3","ade45642.95df5"]]\},\{"id":"5345fadd.28512c","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busy4Flag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":680,"wires":[["ae13ee4a.bc6d3","ade45642.95df5"]]\},\{"id":"ae13ee4a.bc6d3","type":"debug","z":"66ec5b13.04cbec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":560,"wires":[]\},\{"id":"be9c44c8.2917a8","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busyIfFlag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":720,"wires":[["ade45642.95df5"]]\},\{"id":"9e1be0ab.f006a8","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busyBreakFlag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":760,"wires":[["ade45642.95df5"]]\},\{"id":"e469f617.db4b48","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busyNextFlag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":840,"wires":[["bd4387b0.279648"]]\},\{"id":"488d13d0.c5e974","type":"function","z":"66ec5b13.04cbec","name":"busyFlag","func":"context.global.busyGotoFlag = false ;\\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":880,"wires":[["bd4387b0.279648"]]\},\{"id":"a8b5844.3b6ac78","type":"comment","z":"66ec5b13.04cbec","name":"A faire","info":"Dans le tableau si extent a false:\\n1. eteindre les shutters en premier\\n2. \\n\\nDans la boucle :\\n1. mettre select sec, min, heure\\n\\nDans la position:\\n1. mettre le channel fluidic associ\'e9 / pas sur\\n2. enlever les op\'e9rateur math\'e9matique dans le titre car sur un if on prend en compte le nom de la position; il ne faut donc pas d'op\'e9rateur dans le nom ; pas points nom plus ; pas d'incollades ou de caract\'e8res sp\'e9ciaux\\n\\nDans les noeuds:\\n1. modifier les busy\\n2. remplacer les warns par logs\\n\\nDans les settings channels :\\n1. pas d'op\'e9rateurs non plus\\n2. \\n\\n","x":1410,"y":560,"wires":[]\},\{"id":"2cedddfc.ddafaa","type":"comment","z":"66ec5b13.04cbec","name":"Alimentation Data","info":"","x":1430,"y":80,"wires":[]\},\{"id":"105bb33f.04698d","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":120,"wires":[["b88b7784.d66ec8"]]\},\{"id":"b88b7784.d66ec8","type":"function","z":"66ec5b13.04cbec","name":"Buffer Data","func":"var limit = 5;\\n\\nif(context.global.globalData.STATE_V1.length<limit) context.global.globalData.STATE_V1.push(false);\\nelse \{\\n    \\n    context.global.globalData.STATE_V1.unshift(true); //ajout devant / \\n    context.global.globalData.STATE_V1.pop()//enlever derriere\\n\}\\nmsg.payload = context.global.globalData ;\\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":120,"wires":[["49c8afce.53edf8"]]\},\{"id":"49c8afce.53edf8","type":"debug","z":"66ec5b13.04cbec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1810,"y":120,"wires":[]\},\{"id":"31aa4775.317fa8","type":"file","z":"66ec5b13.04cbec","name":"","filename":"tree.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":1180,"y":160,"wires":[[]]\},\{"id":"72df684d.f92858","type":"debug","z":"66ec5b13.04cbec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":1140,"wires":[]\},\{"id":"8bab7c7c.de15f8","type":"inject","z":"66ec5b13.04cbec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":1100,"wires":[["bcaad6f7.cac6d"]]\},\{"id":"bcaad6f7.cac6d","type":"function","z":"66ec5b13.04cbec","name":"Init paramControl","func":"context.global.globalData = \{\\n    'STATE_V1' : [true] ,\\n    'STATE_V2' : [false],\\n    'STATE_V3' : [] ,\\n    'STATE_V4' : [] ,\\n    'STATE_V5' : [] ,\\n    'ITERATOR' : 0 ,\\n    'NCELL'    : \{\\n        'POS3_3':\{\\n            'BF' : [20],\\n            'RFP' : []\\n        \},\\n        'POS1_5':\{\\n            'BF' : [],\\n            'RFP' : []\\n        \}\\n    \},\\n    'ISBLACK'  : \{\\n        'POS3_3':\{\\n            'BF' : [],\\n            'RFP' : []\\n        \},\\n        'POS1_5':\{\\n            'BF' : [],\\n            'RFP' : []\\n        \}\\n    \},\\n    'ISWHITE'  : \{\\n        'POS3_3':\{\\n            'BF' : [],\\n            'RFP' : []\\n        \},\\n        'POS1_5':\{\\n            'BF' : [],\\n            'RFP' : []\\n        \}\\n    \},\\n    'ISBLURRED': \{\\n        'POS3_3':\{\\n            'BF' : [],\\n            'RFP' : []\\n        \},\\n        'POS1_5':\{\\n            'BF' : [],\\n            'RFP' : []\\n        \}\\n    \},\\n\};\\n//les 5 derniers","outputs":1,"noerr":0,"x":470,"y":1100,"wires":[[]]\}]}