03-CyberLab/MicroFluidicControl/flows/ValveControl-v2.json
[
    {
        "id": "27e26004.d6776",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "Valve1",
        "rules": [
            {
                "t": "move",
                "p": "payload.Valve1",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Valve1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 320,
        "wires": [
            [
                "7c0d193e.3942f8"
            ]
        ]
    },
    {
        "id": "7c0d193e.3942f8",
        "type": "ui_chart",
        "z": "d495b1f5.94e8a",
        "name": "",
        "group": "7890883e.915758",
        "order": 4,
        "width": "18",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "%H:%M:%S",
        "interpolate": "step-after",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "x": 1270,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fb11168f.a81858",
        "type": "ui_chart",
        "z": "d495b1f5.94e8a",
        "name": "",
        "group": "7890883e.915758",
        "order": 5,
        "width": "18",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "%H:%M:%S",
        "interpolate": "step-after",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "x": 1270,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d8044531.b6fec8",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "Valve2",
        "rules": [
            {
                "t": "move",
                "p": "payload.Valve2",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Valve2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 360,
        "wires": [
            [
                "fb11168f.a81858"
            ]
        ]
    },
    {
        "id": "c576a210.9a0f4",
        "type": "ui_button",
        "z": "d495b1f5.94e8a",
        "name": "",
        "group": "7890883e.915758",
        "order": 1,
        "width": "6",
        "height": "1",
        "label": "START",
        "color": "",
        "icon": "",
        "payload": "{\"run\":true,\"enable\":false}",
        "payloadType": "json",
        "topic": "",
        "x": 520,
        "y": 580,
        "wires": [
            [
                "2ba1fc71.4b1044",
                "32798d34.477562"
            ]
        ]
    },
    {
        "id": "5ab8eed1.cb036",
        "type": "ui_button",
        "z": "d495b1f5.94e8a",
        "name": "",
        "group": "7890883e.915758",
        "order": 2,
        "width": "6",
        "height": "1",
        "label": " STOP  ",
        "color": "",
        "icon": "",
        "payload": "{\"run\":false}",
        "payloadType": "json",
        "topic": "",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "2ba1fc71.4b1044"
            ]
        ]
    },
    {
        "id": "faf5875f.7261c8",
        "type": "ui_chart",
        "z": "d495b1f5.94e8a",
        "name": "",
        "group": "7890883e.915758",
        "order": 6,
        "width": "18",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "%H:%M:%S",
        "interpolate": "step-after",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "x": 1270,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "875eff22.00b6f",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "Valve3",
        "rules": [
            {
                "t": "move",
                "p": "payload.Valve3",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Valve3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 400,
        "wires": [
            [
                "faf5875f.7261c8"
            ]
        ]
    },
    {
        "id": "2c93fcbf.98b684",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "com",
        "rules": [
            {
                "t": "move",
                "p": "payload.com",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "com",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 520,
        "wires": [
            [
                "288f54fd.6f96dc"
            ]
        ]
    },
    {
        "id": "288f54fd.6f96dc",
        "type": "serial out",
        "z": "d495b1f5.94e8a",
        "name": "",
        "serial": "4e5eae81.9ddfb",
        "x": 1280,
        "y": 520,
        "wires": []
    },
    {
        "id": "2ba1fc71.4b1044",
        "type": "sequencer",
        "z": "d495b1f5.94e8a",
        "name": "real_test_1_60min",
        "topic": "control of microfluidic valves",
        "save": "real_test_1_60min",
        "ApiKey": "keyg2DOt9vukY1MhL",
        "BaseKey": "appDgnv2cpbuCsgCO",
        "duration": "10",
        "rules": [
            {
                "nm": "Valve1",
                "en_c": true,
                "en_s": "false",
                "et": "1",
                "es": "false",
                "ths": "1",
                "tls": "1",
                "stc": "false",
                "sws": "true"
            },
            {
                "nm": "Valve2",
                "en_c": true,
                "en_s": "false",
                "et": "1",
                "es": "false",
                "ths": "1",
                "tls": "1",
                "stc": "true",
                "sws": "false"
            },
            {
                "nm": "Valve3",
                "en_c": true,
                "en_s": "true",
                "et": "1",
                "es": "false",
                "ths": "1",
                "tls": "1",
                "stc": "true",
                "sws": "true"
            },
            {
                "nm": "Valve4",
                "en_c": true,
                "en_s": "false",
                "et": "5",
                "es": "false",
                "ths": "1",
                "tls": "1",
                "stc": "true",
                "sws": "true"
            }
        ],
        "x": 710,
        "y": 400,
        "wires": [
            [
                "27e26004.d6776",
                "d8044531.b6fec8",
                "2c93fcbf.98b684",
                "875eff22.00b6f",
                "6df9c598.a45c6c",
                "f2517bea.51a9d8",
                "7acea110.7888c"
            ]
        ]
    },
    {
        "id": "6df9c598.a45c6c",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "state",
        "rules": [
            {
                "t": "move",
                "p": "payload.state",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "START",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "9ed04646.64dcb8",
                "347fb2e7.1b446e"
            ]
        ]
    },
    {
        "id": "9ed04646.64dcb8",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "unlock",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "lock",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "7c0d193e.3942f8",
                "fb11168f.a81858",
                "faf5875f.7261c8",
                "7106211c.6e30a",
                "2711695e.9c63c6",
                "2783e1ef.6cc24e"
            ]
        ]
    },
    {
        "id": "7106211c.6e30a",
        "type": "link out",
        "z": "d495b1f5.94e8a",
        "name": "out",
        "links": [
            "4e2214ad.bc28bc"
        ],
        "x": 1235,
        "y": 280,
        "wires": []
    },
    {
        "id": "4e2214ad.bc28bc",
        "type": "link in",
        "z": "d495b1f5.94e8a",
        "name": "in",
        "links": [
            "7106211c.6e30a"
        ],
        "x": 255,
        "y": 420,
        "wires": [
            [
                "ee6cc1fe.3d2ad"
            ]
        ]
    },
    {
        "id": "ee6cc1fe.3d2ad",
        "type": "function",
        "z": "d495b1f5.94e8a",
        "name": "Enabled...",
        "func": "var start = {};\nvar stop = {};\nstart.payload = \"\" ;\nstop.payload = \"\" ;\nif(msg.payload === \"1\"){\n    start.enabled = false ;\n    stop.enabled = true ;\n}\nelse {\n    start.enabled = true;\n    stop.enabled = false ;\n}\nreturn [stop,start];",
        "outputs": 2,
        "noerr": 0,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "5ab8eed1.cb036"
            ],
            [
                "c576a210.9a0f4"
            ]
        ]
    },
    {
        "id": "182d8f4c.528bd1",
        "type": "inject",
        "z": "d495b1f5.94e8a",
        "name": "Init...",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "ee6cc1fe.3d2ad"
            ]
        ]
    },
    {
        "id": "347fb2e7.1b446e",
        "type": "ui_text",
        "z": "d495b1f5.94e8a",
        "group": "7890883e.915758",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "State: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "32798d34.477562",
        "type": "function",
        "z": "d495b1f5.94e8a",
        "name": "Erase graph....",
        "func": "//not used actually\nvar erase = {};\nerase.payload = [];\nreturn [erase];",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "7c0d193e.3942f8",
                "fb11168f.a81858",
                "faf5875f.7261c8",
                "2711695e.9c63c6",
                "2783e1ef.6cc24e"
            ]
        ]
    },
    {
        "id": "2711695e.9c63c6",
        "type": "ui_chart",
        "z": "d495b1f5.94e8a",
        "name": "",
        "group": "7890883e.915758",
        "order": 6,
        "width": "18",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "%H:%M:%S",
        "interpolate": "step-after",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "x": 1270,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f2517bea.51a9d8",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "Valve4",
        "rules": [
            {
                "t": "move",
                "p": "payload.Valve4",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Valve4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "2711695e.9c63c6"
            ]
        ]
    },
    {
        "id": "2783e1ef.6cc24e",
        "type": "ui_chart",
        "z": "d495b1f5.94e8a",
        "name": "",
        "group": "7890883e.915758",
        "order": 6,
        "width": "18",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "%H:%M:%S",
        "interpolate": "step-after",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "x": 1270,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7acea110.7888c",
        "type": "change",
        "z": "d495b1f5.94e8a",
        "name": "Valve5",
        "rules": [
            {
                "t": "move",
                "p": "payload.Valve5",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Valve5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 480,
        "wires": [
            [
                "2783e1ef.6cc24e"
            ]
        ]
    },
    {
        "id": "7890883e.915758",
        "type": "ui_group",
        "z": "",
        "name": "Sequencer",
        "tab": "23992012.cc785",
        "disp": false,
        "width": "18"
    },
    {
        "id": "4e5eae81.9ddfb",
        "type": "serial-port",
        "z": "",
        "serialport": "COM29",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "23992012.cc785",
        "type": "ui_tab",
        "z": "",
        "name": "µFluidic - Fabien Duveau",
        "icon": "dashboard"
    }
]