05-Depot-de-sable/Code 20170406/SC_code node red.txt
[{"id":"61b4a72b.b6cc98","type":"exec","z":"79264798.c11748","command":"","addpay":true,"append":"","useSpawn":false,"timer":"","name":"soft python","x":1070,"y":480,"wires":[[],[],[]]},{"id":"265ab808.a8ed18","type":"ui_numeric","z":"79264798.c11748","name":"","label":"x1","group":"10beea56.f66616","order":3,"width":"4","height":"1","passthru":true,"topic":"x1","format":"{{value}} pas","min":"100","max":"400","x":610,"y":320,"wires":[["f39e962e.e12c78"]]},{"id":"f10da422.8949e8","type":"ui_numeric","z":"79264798.c11748","name":"","label":"x2","group":"10beea56.f66616","order":4,"width":"4","height":"1","passthru":true,"topic":"x2","format":"{{value}} pas","min":"1200","max":"1500","x":610,"y":480,"wires":[["88e0dc8b.f9cdb"]]},{"id":"2f1c6075.028f5","type":"ui_numeric","z":"79264798.c11748","name":"","label":"V1","group":"10beea56.f66616","order":5,"width":"4","height":"1","passthru":true,"topic":"v1","format":"{{value}} pas/s","min":"50","max":"200","x":610,"y":360,"wires":[["ecd99b45.9b4e18"]]},{"id":"4737c446.f9299c","type":"ui_numeric","z":"79264798.c11748","name":"","label":"V2","group":"10beea56.f66616","order":6,"width":"4","height":"1","passthru":true,"topic":"v2","format":"{{value}} pas/s","min":"50","max":"200","x":610,"y":520,"wires":[["c0e3e593.4d9218"]]},{"id":"f8470c17.ca066","type":"ui_numeric","z":"79264798.c11748","name":"","label":"t1","group":"10beea56.f66616","order":7,"width":"4","height":"1","passthru":true,"topic":"t1","format":"{{value}}","min":0,"max":"5","x":610,"y":400,"wires":[["c9e8fdd.fb007"]]},{"id":"e8e05b6d.d83a28","type":"ui_numeric","z":"79264798.c11748","name":"","label":"t2","group":"10beea56.f66616","order":8,"width":"4","height":"1","passthru":true,"topic":"t2","format":"{{value}}","min":"5","max":10,"x":610,"y":560,"wires":[["7da01444.56c92c"]]},{"id":"ce91e93d.52b458","type":"ui_numeric","z":"79264798.c11748","name":"","label":"t3","group":"10beea56.f66616","order":9,"width":"4","height":"1","passthru":true,"topic":"t3","format":"{{value}}","min":0,"max":10,"x":610,"y":440,"wires":[["d32f7196.7c50e"]]},{"id":"c9cb2d18.14bed","type":"ui_numeric","z":"79264798.c11748","name":"","label":"t4","group":"10beea56.f66616","order":10,"width":"4","height":"1","passthru":true,"topic":"t4","format":"{{value}}","min":0,"max":10,"x":610,"y":600,"wires":[["622dacaa.3c6a24"]]},{"id":"779ee00f.bfee","type":"comment","z":"79264798.c11748","name":"Aléatoire multiple - Commande moteur pas à pas","info":"","x":250,"y":40,"wires":[]},{"id":"688690ca.77d7f","type":"function","z":"79264798.c11748","name":"n","func":"context.global.n = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":280,"wires":[[]]},{"id":"f39e962e.e12c78","type":"function","z":"79264798.c11748","name":"x1","func":"context.global.x1 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":320,"wires":[[]]},{"id":"ecd99b45.9b4e18","type":"function","z":"79264798.c11748","name":"v1","func":"context.global.v1 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":360,"wires":[[]]},{"id":"c9e8fdd.fb007","type":"function","z":"79264798.c11748","name":"t1","func":"context.global.t1 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":400,"wires":[[]]},{"id":"d32f7196.7c50e","type":"function","z":"79264798.c11748","name":"t3","func":"context.global.t3 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[[]]},{"id":"88e0dc8b.f9cdb","type":"function","z":"79264798.c11748","name":"x2","func":"context.global.x2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":480,"wires":[[]]},{"id":"c0e3e593.4d9218","type":"function","z":"79264798.c11748","name":"v2","func":"context.global.v2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":520,"wires":[[]]},{"id":"7da01444.56c92c","type":"function","z":"79264798.c11748","name":"t2","func":"context.global.t2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":560,"wires":[[]]},{"id":"622dacaa.3c6a24","type":"function","z":"79264798.c11748","name":"t4","func":"context.global.t4 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":600,"wires":[[]]},{"id":"878bfe36.743e5","type":"inject","z":"79264798.c11748","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":140,"y":200,"wires":[["f16d0241.a5a18","ad966e7.19e629","a9e6b91a.00f848","81d71231.6c8a8","57364428.ebdf5c","9e6edec2.712de","b24c7c32.b98f5"]]},{"id":"f16d0241.a5a18","type":"random","z":"79264798.c11748","name":"","low":"1","high":"10","inte":"true","x":340,"y":280,"wires":[["fcdbe790.4cd268"]]},{"id":"ad966e7.19e629","type":"random","z":"79264798.c11748","name":"","low":"100","high":"400","inte":"true","x":340,"y":320,"wires":[["265ab808.a8ed18"]]},{"id":"a9e6b91a.00f848","type":"random","z":"79264798.c11748","name":"","low":"50","high":"200","inte":"true","x":340,"y":360,"wires":[["2f1c6075.028f5","4737c446.f9299c"]]},{"id":"81d71231.6c8a8","type":"random","z":"79264798.c11748","name":"","low":"1","high":"5","inte":"true","x":340,"y":400,"wires":[["f8470c17.ca066","ce91e93d.52b458","c9cb2d18.14bed"]]},{"id":"57364428.ebdf5c","type":"random","z":"79264798.c11748","name":"","low":"1200","high":"1500","inte":"true","x":340,"y":480,"wires":[["f10da422.8949e8"]]},{"id":"268754b2.0244dc","type":"ui_slider","z":"79264798.c11748","name":"","label":"Position [x1:x2] ","group":"185d5657.d792ea","order":2,"width":"12","height":"1","passthru":true,"topic":"","min":0,"max":"1250","step":1,"x":660,"y":1280,"wires":[[]]},{"id":"9a530520.995a88","type":"ui_chart","z":"79264798.c11748","name":"posX","group":"185d5657.d792ea","order":4,"width":"11","height":"5","label":"","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"10000","removeOlder":"1","removeOlderUnit":"60","x":630,"y":1320,"wires":[[],[]]},{"id":"d6046407.343198","type":"ui_text","z":"79264798.c11748","group":"fb82e745.8ff3f8","order":1,"width":"10","height":"1","name":"","label":"Speed","format":"{{msg.payload}} pas/s","layout":"row-left","x":630,"y":1360,"wires":[]},{"id":"2cb8eb62.94a3f4","type":"ui_switch","z":"79264798.c11748","name":"","label":"Simul tic","group":"435fea77.2fa084","order":1,"width":"3","height":"1","passthru":true,"topic":"Simul TIC","style":"","onvalue":"TIC","onvalueType":"str","onicon":"","oncolor":"","offvalue":"TAC","offvalueType":"str","officon":"","offcolor":"","x":620,"y":200,"wires":[["4c276c6e.2d6a14"]]},{"id":"9e6edec2.712de","type":"random","z":"79264798.c11748","name":"","low":"6","high":"10","inte":"true","x":340,"y":440,"wires":[["e8e05b6d.d83a28"]]},{"id":"b24c7c32.b98f5","type":"function","z":"79264798.c11748","name":"init_variables","func":"context.global.tic = 0;\ncontext.global.stop = 0;\ncontext.global.boucle = 0;\nmsg.payload = \"TAC\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["2cb8eb62.94a3f4"]]},{"id":"7e0e56a5.588d18","type":"ui_chart","z":"79264798.c11748","name":"speed","group":"fb82e745.8ff3f8","order":3,"width":"11","height":"5","label":"","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1000","removeOlder":"1","removeOlderUnit":"60","x":630,"y":1400,"wires":[[],[]]},{"id":"4c276c6e.2d6a14","type":"function","z":"79264798.c11748","name":"attrib. Global","func":"var msg2 = {}\nswitch (msg.topic) {\n    case \"Simul TIC\":\n        if(msg.payload == \"TIC\"){\n            context.global.tic ++;\n            if(context.global.tic  == context.global.n){\n                context.global.stop = 0 ;\n                msg.payload = \"random_multiple.py\";\n                context.global.tic = 0;\n                msg2.payload = \"auto;\" + context.global.n + \";\" + context.global.x1 + \";\" + context.global.v1 + \";\" + context.global.t1 + \";\" + context.global.t3 + \";\" + context.global.x2 + \";\" + context.global.v2 + \";\" + context.global.t2 + \";\" + context.global.t4+\";\";\n            }\n            else msg = null;\n        }\n        break; \n    case \"stop\":\n        context.global.stop = 1 ;\n        context.global.tic = 0;\n        //msg2.topic = \"UPDATE `test`.`etat` SET `state` = 'stop' WHERE `etat`.`id` = 1; \";\n        break;\n}\n\n\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":790,"y":220,"wires":[["61b4a72b.b6cc98","791d0702.31b848"],["7c53c169.35726","791d0702.31b848"]]},{"id":"fcdbe790.4cd268","type":"ui_numeric","z":"79264798.c11748","name":"","label":"n","group":"10beea56.f66616","order":2,"width":"8","height":"1","passthru":true,"topic":"n","format":"{{value}} tic","min":"1","max":"10","x":610,"y":280,"wires":[["688690ca.77d7f"]]},{"id":"70ef6d3e.97f994","type":"ui_chart","z":"79264798.c11748","name":"switch","group":"5e8f11fa.6507f","order":7,"width":"11","height":"5","label":"","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"step-after","nodata":"","ymin":"0","ymax":"1","removeOlder":"1","removeOlderUnit":"60","x":630,"y":1440,"wires":[[],[]]},{"id":"c48b1323.a09e3","type":"ui_text","z":"79264798.c11748","group":"5e8f11fa.6507f","order":6,"width":"10","height":"1","name":"","label":"Switch","format":"{{msg.payload}} ","layout":"row-left","x":630,"y":1480,"wires":[]},{"id":"d953b6f0.9eba98","type":"ui_text","z":"79264798.c11748","group":"","order":5,"width":"10","height":"6","name":"","label":"","format":"","layout":"row-left","x":630,"y":1520,"wires":[]},{"id":"2c352533.17da6a","type":"comment","z":"79264798.c11748","name":"Initialisation","info":"","x":130,"y":160,"wires":[]},{"id":"3e32c94c.15e846","type":"comment","z":"79264798.c11748","name":"Execution","info":"","x":1060,"y":420,"wires":[]},{"id":"e9a11d30.c7af6","type":"ui_button","z":"79264798.c11748","name":"","group":"10beea56.f66616","order":11,"width":0,"height":0,"label":"Stop","color":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":610,"y":240,"wires":[["4c276c6e.2d6a14"]]},{"id":"52dc7ae3.a23bd4","type":"function","z":"79264798.c11748","name":"Split webSocket python","func":"var split = msg.payload.split(\",\");\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\n\nposx = split[0].split(\":\");\nmsg.payload = posx[1];\nmsg.topic = \"position actuelle\";\n\nposx_obj = split[1].split(\":\");\nmsg2.payload = posx_obj[1];\nmsg2.topic = \"position a atteindre\";\n\nspeed = split[2].split(\":\");\nmsg3.payload = speed[1];\nmsg3.topic = \"vitesse actuelle\";\n\nsw = split[3].split(\":\");\nmsg4.payload = sw[1];\nmsg4.topic = \"etat du relais\";\n\nif(sw[1] == 0) msg5.payload = \"ouvert\";\nelse msg5.payload = \"fermé\";\n\nreturn [msg,msg2,msg3,msg4,msg5];\n\n","outputs":"5","noerr":0,"x":350,"y":1400,"wires":[["268754b2.0244dc","9a530520.995a88"],["9a530520.995a88"],["d6046407.343198","7e0e56a5.588d18"],["70ef6d3e.97f994"],["c48b1323.a09e3"]]},{"id":"d734c293.ec10f","type":"websocket in","z":"79264798.c11748","name":"","server":"7e9539c4.c292f8","client":"","x":130,"y":1400,"wires":[["52dc7ae3.a23bd4"]]},{"id":"697e3eef.940f7","type":"websocket out","z":"79264798.c11748","name":"","server":"dda64912.81c3a8","client":"","x":550,"y":1140,"wires":[]},{"id":"51079a14.1e7434","type":"inject","z":"79264798.c11748","name":"","topic":"repeat","payload":"","payloadType":"date","repeat":"0.25","crontab":"","once":true,"x":170,"y":1140,"wires":[["52f4966a.778198"]]},{"id":"52f4966a.778198","type":"function","z":"79264798.c11748","name":"scrut_stop","func":"msg.payload = context.global.stop;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1140,"wires":[["697e3eef.940f7"]]},{"id":"900308b6.fa0c28","type":"comment","z":"79264798.c11748","name":"Même base de temps que dans python dans la fonction pause","info":"","x":290,"y":1100,"wires":[]},{"id":"3c6ef669.da4b9a","type":"comment","z":"79264798.c11748","name":"Affichage","info":"","x":120,"y":1360,"wires":[]},{"id":"7c53c169.35726","type":"delay","z":"79264798.c11748","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1070,"y":520,"wires":[["6f532b1e.91bea4"]]},{"id":"6f532b1e.91bea4","type":"websocket out","z":"79264798.c11748","name":"","server":"ec5a3f3c.153ae","client":"","x":1250,"y":520,"wires":[]},{"id":"e2d20c6e.21fc8","type":"websocket in","z":"79264798.c11748","name":"","server":"659a249f.be06dc","client":"","x":770,"y":1140,"wires":[["96eb9d90.ddb77"]]},{"id":"71cf618d.a85eb","type":"file","z":"79264798.c11748","name":"","filename":"/Python27/output.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1120,"y":1140,"wires":[]},{"id":"68e452b7.e5b59c","type":"comment","z":"79264798.c11748","name":"Fichier de sortie","info":"","x":780,"y":1100,"wires":[]},{"id":"96eb9d90.ddb77","type":"function","z":"79264798.c11748","name":"","func":"msg.payload = new Date() + \",\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1140,"wires":[["71cf618d.a85eb"]]},{"id":"791d0702.31b848","type":"debug","z":"79264798.c11748","name":"","active":true,"console":"false","complete":"payload","x":1070,"y":560,"wires":[]},{"id":"95094d60.7f266","type":"ui_template","z":"79264798.c11748","group":"e536c60c.392c78","name":"Time and Temp","order":1,"width":"6","height":"2","format":"<script>\n    var daylist = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.payload) != \"undefined\") $(\"#DSEGTemp\").text(msg.payload);\n               if (typeof(msg.colour) != \"undefined\") \n                            { \n                             if (msg.colour==\"orange\"){ $(\".Clock-Wrapper\").css('background-color', '#fb7c00');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"green\") { $(\".Clock-Wrapper\").css('background-color', '#66ac66');  $(\".lcdClock\").css('color', '#222'); }                            \n                             if (msg.colour==\"blue\")  { $(\".Clock-Wrapper\").css('background-color', '#8888ff');  $(\".lcdClock\").css('color', '#222'); }\n                             if (msg.colour==\"yellow\"){ $(\".Clock-Wrapper\").css('background-color', '#bbbb44');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"white\") { $(\".Clock-Wrapper\").css('background-color', '#aaaaaa');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"pink\")  { $(\".Clock-Wrapper\").css('background-color', '#ff8888');  $(\".lcdClock\").css('color', '#222'); } \n                             if (msg.colour==\"red\")  { $(\".Clock-Wrapper\").css('background-color', '#aa2222');  $(\".lcdClock\").css('color', '#ccaa22'); } \n                            }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:500px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:72px;\nheight:72px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n\tcolor:rgba(0,0,0,0.15);\n}\n\n.Clock-Time-Front{\n\tz-index:100;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.Clock-Year-Background{\n\tz-index:50;\n;\n\tcolor:rgba(0,0,0,0.1);\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:100;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:100; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:100; }\n.tempcBack { z-index:50; color:rgba(0,0,0,0.1); }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background\"><span class=\"D7MI\">2088-88-88</span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"x":520,"y":1780,"wires":[[]]},{"id":"261d6fe7.fb1a9","type":"inject","z":"79264798.c11748","name":"21c","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"x":330,"y":1660,"wires":[["95094d60.7f266"]]},{"id":"aa6357c8.9a0d18","type":"inject","z":"79264798.c11748","name":"32c","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"x":330,"y":1700,"wires":[["95094d60.7f266"]]},{"id":"59efed59.8231f4","type":"inject","z":"79264798.c11748","name":"green","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1660,"wires":[["767f0ad2.81b764"]]},{"id":"6b01716a.a0014","type":"inject","z":"79264798.c11748","name":"orange","topic":"","payload":"orange","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1700,"wires":[["767f0ad2.81b764"]]},{"id":"767f0ad2.81b764","type":"function","z":"79264798.c11748","name":"","func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1780,"wires":[["95094d60.7f266"]]},{"id":"4719a9f4.002578","type":"inject","z":"79264798.c11748","name":"blue","topic":"","payload":"blue","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1740,"wires":[["767f0ad2.81b764"]]},{"id":"d44c8dfc.11117","type":"inject","z":"79264798.c11748","name":"yellow","topic":"","payload":"yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1780,"wires":[["767f0ad2.81b764"]]},{"id":"ed84f547.1a9958","type":"inject","z":"79264798.c11748","name":"white","topic":"","payload":"white","payloadType":"str","repeat":"","crontab":"","once":true,"x":130,"y":1820,"wires":[["767f0ad2.81b764"]]},{"id":"e93ce0a7.2e501","type":"inject","z":"79264798.c11748","name":"pink","topic":"","payload":"pink","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1860,"wires":[["767f0ad2.81b764"]]},{"id":"a0cd9440.e195a8","type":"inject","z":"79264798.c11748","name":"red and light text","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":1900,"wires":[["767f0ad2.81b764"]]},{"id":"8f4751cc.b3959","type":"comment","z":"79264798.c11748","name":"Heure et date","info":"","x":130,"y":1600,"wires":[]},{"id":"d8e42329.324d7","type":"ui_text","z":"79264798.c11748","group":"fba29015.9b78b","order":0,"width":"0","height":"0","name":"","label":"Node-Red Server | Python 2.7","format":"{{msg.payload}}","layout":"row-center","x":1130,"y":1400,"wires":[]},{"id":"298e4807.a766d8","type":"comment","z":"79264798.c11748","name":"Crédit","info":"","x":1050,"y":1360,"wires":[]},{"id":"abaebaa0.c784a8","type":"ui_text","z":"79264798.c11748","group":"cc877fd3.05e3c","order":0,"width":"0","height":"0","name":"","label":"Williams BRETT | MSC | 2017","format":"{{msg.payload}}","layout":"row-center","x":1130,"y":1440,"wires":[]},{"id":"b7082195.b5ed9","type":"ui_dropdown","z":"79264798.c11748","name":"","label":"Mode: ","group":"435fea77.2fa084","order":2,"width":"0","height":"0","passthru":true,"options":[{"label":"auto mode","value":"auto mode","type":"str"},{"label":"direct mode","value":"direct mode","type":"str"}],"payload":"","topic":"","x":250,"y":600,"wires":[["4f5c1637.57d188"]]},{"id":"a64ac576.e14c98","type":"inject","z":"79264798.c11748","name":"","topic":"","payload":"auto mode","payloadType":"str","repeat":"","crontab":"","once":true,"x":120,"y":600,"wires":[["b7082195.b5ed9"]]},{"id":"4f5c1637.57d188","type":"function","z":"79264798.c11748","name":"","func":"var msg2 = {};\nvar msg3 = {};\n\nif (msg.payload == \"direct mode\"){\n  msg.enabled = false ;  \n  msg2.enabled = true ;\n  msg3.payload = \"01\";\n} \nelse {\n    msg.enabled = true ;\n    msg2.enabled = false ;\n    msg3.payload = null;\n}\nreturn [msg, msg2, msg3];","outputs":"3","noerr":0,"x":390,"y":600,"wires":[["fcdbe790.4cd268","265ab808.a8ed18","2f1c6075.028f5","f8470c17.ca066","ce91e93d.52b458","f10da422.8949e8","4737c446.f9299c","e8e05b6d.d83a28","c9cb2d18.14bed","e9a11d30.c7af6","2cb8eb62.94a3f4"],["b1e43fdb.044ba","c47dcc62.289ca","e5fb285.7ec02d8","4152d4fa.4946fc","d1d3fa9b.d16708"],["b1e43fdb.044ba"]]},{"id":"b1e43fdb.044ba","type":"ui_dropdown","z":"79264798.c11748","name":"","label":"Instruction: ","group":"9a77af53.c5928","order":1,"width":"8","height":"1","passthru":true,"options":[{"label":"1- ROR rotate right","value":"01","type":"str"},{"label":"2- ROL rotate left","value":"02","type":"str"},{"label":"3- MST motor stop","value":"03","type":"str"},{"label":"4- MVT move to position","value":"04","type":"str"},{"label":"5- SAP set axis parameter","value":"05","type":"str"},{"label":"14- SIO set output","value":"0e","type":"str"}],"payload":"","topic":"","x":130,"y":840,"wires":[["4157e77d.3fca58","bd29c22d.e3003"]]},{"id":"e5fb285.7ec02d8","type":"ui_button","z":"79264798.c11748","name":"","group":"9a77af53.c5928","order":6,"width":0,"height":0,"label":"Execute","color":"","icon":"","payload":"","payloadType":"str","topic":"Execute","x":620,"y":660,"wires":[["42c069b.1300498"]]},{"id":"c47dcc62.289ca","type":"ui_dropdown","z":"79264798.c11748","name":"","label":"Motor: ","group":"9a77af53.c5928","order":3,"width":"8","height":"1","passthru":true,"options":[{"label":"0- Motor 0","value":"00","type":"str"}],"payload":"","topic":"","x":610,"y":820,"wires":[["f275d996.132618"]]},{"id":"619d7e94.cbeae","type":"ui_text","z":"79264798.c11748","group":"9a77af53.c5928","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":860,"wires":[]},{"id":"4157e77d.3fca58","type":"function","z":"79264798.c11748","name":"selection dynamique","func":"//type\nvar msg2 = {};\n//value\nvar msg3 = {};\n//motor\nvar msg4 = {}\n//execute\nvar msg5 = {};\n//motor option\nvar msg6 = {};\n\nif ((msg.payload == \"01\")||(msg.payload == \"02\")){\n   msg2.enabled = false ; \n   msg2.options = [{\"0- <don't care>\":\"00\"}];\n   msg2.payload = \"00\";\n   //msg3.payload = \"0\" ;\n   msg3.enabled = true ;\n   msg.options =  [{\"0- <don't care>\":\"00\"}] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n} \nif ((msg.payload == \"03\")){\n   msg2.enabled = false ; \n   msg2.options = [{\"0- <don't care>\":\"00\"}];\n   msg3.enabled = false ; \n   msg3.payload = \"0\" ;\n   msg.options =  [{\"0- <don't care>\":\"00\"}] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n   context.global.value = 0;\n}\nif ((msg.payload == \"04\")){\n   msg2.enabled = true ; \n   msg3.enabled = true ;\n   //msg3.payload = \"0\" ;\n   msg.options =  [ {\"0- ABS absolute\":\"00\"}, {\"1- REL relative\":\"01\"}, {\"2- COORD coordinate\":\"02\"} ] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n}\nif ((msg.payload == \"05\")){\n   msg2.enabled = true ; \n   msg3.enabled = true ;\n   //msg3.payload = \"0\" ;\n   msg.options =  [ {\"0- next position\":\"00\"}, {\"1- actual position\":\"01\"}, {\"2- next speed [pps]\":\"02\"}, {\"3- actual speed [pps]\":\"03\"}, {\"4- max positionning speed [pps]\":\"04\"}, {\"5- max accelaration [pps²]\":\"05\"}, {\"140- microstep resolution\":\"02\"} ] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- Motor 0\":\"00\"}] ;\n   msg6.payload = \"00\";\n}\nif ((msg.payload == \"14\")){\n   msg2.enabled = true ; \n   msg3.enabled = true ;\n   //msg3.payload = \"0\" ;\n   msg.options =  [ {\"0- OUT0\":\"00\"}, {\"1- OUT1\":\"01\"} ] ;\n   msg.payload = \"00\";\n   msg6.options =  [{\"0- pullup\":\"00\"}, {\"2- output\":\"02\"}] ;\n   msg6.payload = \"00\";\n}\n\nreturn [msg, msg2, msg3, msg4, msg5, msg6];","outputs":"6","noerr":0,"x":340,"y":800,"wires":[["4152d4fa.4946fc"],["4152d4fa.4946fc"],["d1d3fa9b.d16708"],["c47dcc62.289ca"],["e5fb285.7ec02d8"],["c47dcc62.289ca"]]},{"id":"faf21393.909bb","type":"function","z":"79264798.c11748","name":"type","func":"context.global.type = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":700,"wires":[[]]},{"id":"3a81f7d9.89f248","type":"function","z":"79264798.c11748","name":"value","func":"context.global.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":740,"wires":[[]]},{"id":"f275d996.132618","type":"function","z":"79264798.c11748","name":"motor","func":"context.global.motor = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":820,"wires":[[]]},{"id":"bd29c22d.e3003","type":"function","z":"79264798.c11748","name":"instruction","func":"context.global.instruction = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":880,"wires":[[]]},{"id":"42c069b.1300498","type":"function","z":"79264798.c11748","name":"attrib. Global","func":"var msg2 = {};\nmsg.payload = \"random_multiple.py\";\nmsg2.payload = \"direct;\" + context.global.instruction + \";\" + context.global.type + \";\" + context.global.motor + \";\" + context.global.value+\";\";\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":770,"y":660,"wires":[["61b4a72b.b6cc98","791d0702.31b848"],["7c53c169.35726","791d0702.31b848"]]},{"id":"eaa369b.f569698","type":"inject","z":"79264798.c11748","name":"","topic":"direct mode","payload":"\"01\"","payloadType":"str","repeat":"","crontab":"","once":true,"x":140,"y":660,"wires":[["b1e43fdb.044ba"]]},{"id":"4152d4fa.4946fc","type":"ui_dropdown","z":"79264798.c11748","name":"","label":"Type: ","group":"9a77af53.c5928","order":2,"width":"8","height":"1","passthru":true,"options":[],"payload":"","topic":"","x":610,"y":700,"wires":[["faf21393.909bb"]]},{"id":"aa8e4671.7cdc48","type":"inject","z":"79264798.c11748","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":390,"y":960,"wires":[["d1d3fa9b.d16708"]]},{"id":"d1d3fa9b.d16708","type":"ui_numeric","z":"79264798.c11748","name":"","label":"Value","group":"9a77af53.c5928","order":4,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":"-1000","max":"1000","x":610,"y":740,"wires":[["3a81f7d9.89f248"]]},{"id":"10beea56.f66616","type":"ui_group","z":"","name":"Auto mode","tab":"20bff561.e58a1a","order":3,"disp":false,"width":"8"},{"id":"185d5657.d792ea","type":"ui_group","z":"","name":"graph_position","tab":"20bff561.e58a1a","order":6,"disp":false,"width":"12"},{"id":"fb82e745.8ff3f8","type":"ui_group","z":"","name":"graph_vitesse","tab":"20bff561.e58a1a","order":4,"disp":false,"width":"12"},{"id":"435fea77.2fa084","type":"ui_group","z":"","name":"Simulation","tab":"20bff561.e58a1a","order":2,"disp":false,"width":"12"},{"id":"5e8f11fa.6507f","type":"ui_group","z":"","name":"graph_switch","tab":"20bff561.e58a1a","order":8,"disp":false,"width":"12"},{"id":"7e9539c4.c292f8","type":"websocket-listener","z":"","path":"/receive","wholemsg":"false"},{"id":"dda64912.81c3a8","type":"websocket-listener","z":"","path":"/publish","wholemsg":"false"},{"id":"ec5a3f3c.153ae","type":"websocket-listener","z":"","path":"/config","wholemsg":"false"},{"id":"659a249f.be06dc","type":"websocket-listener","z":"","path":"/output","wholemsg":"false"},{"id":"e536c60c.392c78","type":"ui_group","z":"","name":"Date / heure","tab":"20bff561.e58a1a","order":1,"disp":false,"width":"8"},{"id":"fba29015.9b78b","type":"ui_group","z":"","name":"Credit1","tab":"20bff561.e58a1a","order":7,"disp":false,"width":"8"},{"id":"cc877fd3.05e3c","type":"ui_group","z":"","name":"Credit2","tab":"20bff561.e58a1a","order":9,"disp":false,"width":"8"},{"id":"9a77af53.c5928","type":"ui_group","z":"","name":"Direct mode","tab":"20bff561.e58a1a","order":5,"disp":false,"width":"8"},{"id":"20bff561.e58a1a","type":"ui_tab","z":"","name":"Moteur pas à pas / Sylvain Courrech","icon":"fa-sort-amount-desc ","order":1}]