02-Cyberscope-microscope/CyberScope-master/Installed-version/CyberScope-v1-mda2/release-MDAx/release-MDA2.4-20200206.json
[
    {
        "id": "79d1b94.eee5848",
        "type": "tab",
        "label": "MDA2.4+BUSY",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2160d560.23fa8a",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "STOP",
        "topic": "",
        "payload": "MDA-FINISH",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 990,
        "y": 700,
        "wires": [
            [
                "5e7b5a83.dd3584"
            ]
        ]
    },
    {
        "id": "9e697b25.7cd948",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "MDA time Order",
        "func": "if(msg.payload === 'MDA-FINISH'){\n    context.global.startMDA = 0 ;\n    node.status ({fill:\"red\",shape:\"dot\", text: \"STOP\"});\n    msg.payload = \"STOP,\"+Date.now();\n    node.send(msg);    \n}\nif(msg.payload === 'MDA-NEXT'){\n    context.global.startMDA = 0 ;\n    node.status ({fill:\"yellow\",shape:\"dot\", text: \"NEXT\"});\n    msg.payload = \"NEXT,\"+Date.now();\n    node.send(msg);    \n}\nif(msg.payload === 'MDA-START'){\n    context.global.startMDA = 1 ;\n    node.status ({text: \"waiting stop ...\"});\n    msg.payload = \"START,\"+Date.now();\n    node.send(msg);    \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "1bdbf9a5.a0519e",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Sequencer Cyberscope",
        "func": "if( (context.global.startMDA === 1) && (context.global.initialize === true)){\n    var length = context.global.sequence2[context.global.sync2].length ;\n    //Extent\n    if((msg.payload === 'done')){\n        context.global.extent = msg.extent ;\n        if(context.global.extent===true){\n            if(length===context.global.sync3) context.global.valid = true ;\n            else context.global.valid = false  ;\n        }\n        if(context.global.extent===false){\n            context.global.valid = true ;\n        }\n        context.global.time = parseInt((Date.now()-context.global.initTime)/1000);\n    }\n    //\n    //Next instruction\n    if( length  !== context.global.sync3 ){\n        var order = context.global.sequence2[context.global.sync2];\n        \n        if((msg.payload === 'done')){\n            context.global.checkFinish = context.global.checkFinish + 1 ;\n            node.status ({fill:\"yellow\",shape:\"dot\", text: global.get('scanTime')+\"-\"+context.global.sync2+\"-\"+context.global.sync3+\"-o-\"+context.global.finish+\"-\"+context.global.checkFinish});\n            if(context.global.checkFinish === context.global.finish){\n                context.global.checkFinish = 0 ;\n                if(order.length !==1) {\n                    context.global.finish = order[context.global.sync3].length ; // nombre d'instructions dans la branche la plus profonde de l'object sequencer\n                    for(var i=0;i<order[context.global.sync3].length;i++){ \n                        //Conditionnel\n                        var calculIf = true ;\n                        for(var idIf in context.global.if){\n                                var findIf = order[context.global.sync3][i]['if'].indexOf(idIf) ;\n                                if(findIf!==-1){ \n                                    calculIf = calculIf && context.global.if[idIf] ;\n                                    break;\n                                }\n                            \n                        }\n                        //Break\n                        var calculBreak = true ;\n                        for(var idBreak in context.global.break){\n                                var findBreak = order[context.global.sync3][i]['loop'].indexOf(idBreak) ;\n                                //node.send({'payload':context.global.break});\n                                //node.warn(idBreak +'-'+ findBreak);\n                                if(findBreak!==-1){ \n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\n                                    break;\n                                }\n                        }\n                        //ici on regarde si le break est le premier du tableau\n                        //si oui ca veut dire qu'on break la boucle principale donc on doit\n                        //jouer le step prochain dans le tableau step en global\n                        //node.warn('1'+findBreak);\n                        node.status ({fill:\"yellow\",shape:\"dot\", text: global.get('scanTime')+\"-\"+context.global.sync2+\"-\"+context.global.sync3+\"-\"+calculIf+\"-\"+context.global.finish+\"-\"+context.global.checkFinish});\n                        if(findBreak===0){\n                            node.send({\n                                'topic' : 'next',\n                                'device' : 'next',\n                                'payload' : 'MDA-NEXT',\n                                'sync' : order[context.global.sync3][i]['sync'],\n                                'extent' : true,\n                                'if' : [],\n                                'loop' : []\n                                });\n                        }\n                        else {\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3][i]);\n                            else node.send({'payload' : 'done', 'sync' : order[context.global.sync3][i]['sync']});\n                        }\n                        //\n                    }\n                }\n                else{ \n                    //Conditionnel\n                    var calculIf = true ;\n                    for(var idIf in context.global.if){\n                        var findIf = order[context.global.sync3]['if'].indexOf(idIf) ;\n                        if(findIf!==-1){ \n                            calculIf = calculIf && context.global.if[idIf] ;\n                            break ;\n                        }\n                    }\n                        //Break\n                        var calculBreak = true ;\n                        for(var idBreak in context.global.break){\n                                var findBreak = order[context.global.sync3]['loop'].indexOf(idBreak) ;\n                                if(findBreak!==-1){ \n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\n                                    break;\n                                }\n                            \n                        }\n                        //node.warn('2'+findBreak);\n                        node.status ({fill:\"yellow\",shape:\"dot\", text: global.get('scanTime')+\"-\"+context.global.sync2+\"-\"+context.global.sync3+\"-\"+calculIf+\"-\"+context.global.finish+\"-\"+context.global.checkFinish});\n                        if(findBreak===0){\n                            node.send({\n                                'topic' : 'next',\n                                'device' : 'next',\n                                'payload' : 'MDA-NEXT',\n                                'sync' : order[context.global.sync3]['sync'],\n                                'extent' : true,\n                                'if' : [],\n                                'loop' : []\n                                });\n                        }\n                        else {\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3]);\n                            else node.send({'payload' : 'done', 'sync' : order[context.global.sync3]['sync']});\n                        }\n                        //\n                    //\n                    context.global.finish = 1 ;\n                }\n                context.global.sync3 = context.global.sync3 + 1 ;\n            }\n        }\n        //première fois quand on appuie sur start ou première instruction d'un groupe temporaire\n        else{\n            if(order.length !==1) {\n                context.global.finish = order[context.global.sync3].length ; // nombre d'instructions dans la branche la plus profonde de l'object sequencer\n                for(var i=0;i<order[context.global.sync3].length;i++){\n                    //Conditionnel\n                    var calculIf = true ;\n                    for(var idIf in context.global.if){\n                        var findIf = order[context.global.sync3][i]['if'].indexOf(idIf) ;\n                        if(findIf!==-1){  \n                            calculIf = calculIf && context.global.if[idIf]  ;\n                            break ;\n                        }\n                    }\n                        //Break\n                        var calculBreak = true ;\n                        for(var idBreak in context.global.break){\n                                var findBreak = order[context.global.sync3][i]['loop'].indexOf(idBreak) ;\n                                if(findBreak!==-1){ \n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\n                                    break;\n                                }\n                            \n                        }\n                        //node.warn('3'+findBreak);\n                        node.status ({fill:\"yellow\",shape:\"dot\", text: global.get('scanTime')+\"-\"+context.global.sync2+\"-\"+context.global.sync3+\"-\"+calculIf+\"-\"+context.global.finish+\"-\"+context.global.checkFinish});\n                        if(findBreak===0){\n                            node.send({\n                                'topic' : 'next',\n                                'device' : 'next',\n                                'payload' : 'MDA-NEXT',\n                                'sync' : order[context.global.sync3][i]['sync'],\n                                'extent' : true,\n                                'if' : [],\n                                'loop' : []\n                                });\n                        }\n                        else {\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3][i]);\n                            else node.send({'payload' : 'done', 'sync' : order[context.global.sync3][i]['sync']});\n                        }\n                        //\n                    //\n                }\n            }\n            else { \n                //Extent\n                context.global.extent = order[context.global.sync3].extent ;\n                if(context.global.extent===true){\n                    if(length===context.global.sync3) context.global.valid = true ;\n                    else context.global.valid = false  ;\n                }\n                if(context.global.extent===false){\n                    context.global.valid = true ;\n                }\n                context.global.time = parseInt((Date.now()-context.global.timeInit)/1000);\n                //\n                context.global.finish = 1 ;\n                //Conditionnel\n                var calculIf = true ;\n                for(var idIf in context.global.if){\n                    var findIf = order[context.global.sync3][0]['if'].indexOf(idIf) ;\n                    if(findIf!==-1){ \n                        calculIf = calculIf && context.global.if[idIf] ;\n                        break;\n                    }\n                }\n                         //Break\n                        var calculBreak = true ;\n                        for(var idBreak in context.global.break){\n                                var findBreak = order[context.global.sync3][0]['loop'].indexOf(idBreak) ;\n                                \n                                if(findBreak!==-1){ \n                                    calculBreak = ! (calculBreak && context.global.break[idBreak]) ;\n                                    break;\n                                }\n                            \n                        }\n                        //node.warn('4'+findBreak);\n                        node.status ({fill:\"yellow\",shape:\"dot\", text: global.get('scanTime')+\"-\"+context.global.sync2+\"-\"+context.global.sync3+\"-\"+calculIf+\"-\"+context.global.finish+\"-\"+context.global.checkFinish});\n                        if(findBreak===0){\n                            node.send({\n                                'topic' : 'next',\n                                'device' : 'next',\n                                'payload' : 'MDA-NEXT',\n                                'sync' : order[context.global.sync3][0]['sync'],\n                                'extent' : true,\n                                'if' : [],\n                                'loop' : []\n                                });\n                        }\n                        else {\n                            if(calculBreak&&calculIf) node.send(order[context.global.sync3][0]);\n                            else node.send({'payload' : 'done', 'sync' : order[context.global.sync3][0]['sync']});\n                        }\n                        //\n           }\n            context.global.sync3 = context.global.sync3 + 1 ;\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1450,
        "y": 520,
        "wires": [
            [
                "ce3442ae.d933c8",
                "84f40944.00a358"
            ]
        ],
        "icon": "node-red/trigger.png"
    },
    {
        "id": "2d2561a3.61cb3e",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "START",
        "topic": "",
        "payload": "MDA-START",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 990,
        "y": 660,
        "wires": [
            [
                "5e7b5a83.dd3584"
            ]
        ]
    },
    {
        "id": "5e7b5a83.dd3584",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Stepper Cyberscope",
        "func": "if(msg.payload === 'MDA-START'){\n    global.set('scanTime',0);\n    clearTimeout(global.get('mdaSync')) ; clearTimeout(global.get('mdaSync')) ;\n    \n    context.global.startMDA=1; context.global.checkFinish=0; context.global.valid=false; \n    context.global.sync2=String(0); context.global.sync3=0;\n    context.global.initTime  = Date.now(); context.global.adjust = 0 ; context.global.time = 0;\n    context.global.sequence2 = context.global.step[context.global.nextStep];\n    \n    msg.payload = context.global.sequence2[String(0)];\n    node.send(msg);\n    node.status ({fill:\"green\",shape:\"dot\", text: \"START\"});\n    \n    context.global.keyPlay = [] ; context.global.keyPlay.push(String(0));\n    \n    var mdaSync = setInterval(function(){\n        scanTime = global.get('scanTime') + 0.25 ;\n        global.set('scanTime', scanTime) ;\n        if((context.global.valid)){\n            for(var key in context.global.sequence2){\n                if((parseInt(key)<=(scanTime+context.global.adjust))&&(context.global.keyPlay.includes(key)===false)){\n                    context.global.adjust = (key) - parseInt((Date.now()-context.global.initTime)/1000);\n                    if(context.global.adjust>=0) context.global.adjust= 0 ;\n                    context.global.sync2 = key;\n                    msg.payload = context.global.sequence2[key];\n                    context.global.sync3 = 0;\n                    context.global.keyPlay.push(key);\n                    node.send(msg);\n                    break ;\n                }\n            }\n        }        \n    },250);\n    global.set('mdaSync',mdaSync);\n}\nif(msg.payload === 'MDA-FINISH'){\n    context.global.startMDA = 0 ;\n    clearTimeout(global.get('mdaSync')) ; clearTimeout(global.get('mdaSync')) ;\n    global.set('scanTime',0) ;\n    node.status ({fill:\"red\",shape:\"dot\", text: \"STOP\"});\n    setTimeout(function(){node.status ({fill:\"yellow\",shape:\"dot\",text: \"waiting start ...\"});},2000);\n}\nif(msg.payload === 'MDA-NEXT'){\n    context.global.startMDA = 0 ;\n    clearTimeout(global.get('mdaSync')) ;  clearTimeout(global.get('mdaSync')) ;\n    global.set('scanTime',0) \n    node.status ({fill:\"red\",shape:\"dot\", text: \"STOP\"});\n    setTimeout(function(){node.status ({fill:\"green\",shape:\"dot\",text: \"restart next ...\"});},2000);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 640,
        "wires": [
            [
                "1bdbf9a5.a0519e"
            ]
        ]
    },
    {
        "id": "2e356757.33c75",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "b46fb94f.b88598"
            ]
        ]
    },
    {
        "id": "8f1951cb.80f998",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "1",
        "func": "if(msg.device === '1'){\n    context.global.busy1 = setInterval(function(){\n        if(context.global.busy1Flag === false){\n            context.global.busy1Flag = true ;\n            msg.payload = \"done\";\n            node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n            setTimeout(function(){\n                node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                node.send(msg);\n            },1000);\n            clearInterval(context.global.busy1);\n        }\n    },10);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "8c35d6.ed1d3228"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "4d2175b7.21767c",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "2",
        "func": "if(msg.device === '2'){\n    context.global.busy2 = setInterval(function(){\n        if(context.global.busy2Flag === false){\n            context.global.busy2Flag = true ;\n            msg.payload = \"done\";\n            node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n            setTimeout(function(){\n                node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                node.send(msg);\n            },13000);\n            clearInterval(context.global.busy2);\n        }\n    },10);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "6a34417c.a21ea8"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "a19caf4d.00a1e",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "3",
        "func": "if(msg.device === '3'){\n    context.global.busy3 = setInterval(function(){\n        if(context.global.busy3Flag === false){\n            context.global.busy3Flag = true ;\n            msg.payload = \"done\";\n            node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n            setTimeout(function(){\n                node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                node.send(msg);\n            },1000);\n            clearInterval(context.global.busy3);\n        }\n    },10);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 380,
        "wires": [
            [
                "4eaf9560.e8cc8c"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "84f40944.00a358",
        "type": "link out",
        "z": "79d1b94.eee5848",
        "name": "BREAK",
        "links": [
            "1dfd6f1d.e43fc9",
            "e89e18e9.7df118",
            "41ead4dc.f686ec",
            "506a859d.d4f3a4",
            "69dd820.5b886",
            "8e37134d.399f78",
            "508a34c3.02882c",
            "cf8cb709.16f6",
            "55eeb7e0.c5f758",
            "872fd45e.b58af8",
            "ec880060.ecb758",
            "3c61c60a.d85642"
        ],
        "x": 1595,
        "y": 520,
        "wires": []
    },
    {
        "id": "8e37134d.399f78",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 420,
        "wires": [
            [
                "e8737325.4b7e8"
            ]
        ]
    },
    {
        "id": "e8737325.4b7e8",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "4",
        "func": "if(msg.device === '4'){\n    context.global.busy4 = setInterval(function(){\n        if(context.global.busy4Flag === false){\n           context.global.busy4Flag = true ;\n            msg.payload = \"done\";\n            node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n            setTimeout(function(){\n                node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                node.send(msg);\n            },1000);\n            clearInterval(context.global.busy4);\n        }\n    },10);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "2411424c.263d26"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "83738175.957ea",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "next",
        "func": "if(msg.device === 'next'){\n    context.global.busyNext = setInterval(function(){\n        if(context.global.busyNextFlag === false){\n            context.global.busyNextFlag = true ;\n            context.global.nextStep = context.global.nextStep + 1 ;\n            node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n            setTimeout(function(){\n                node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                node.send({'payload':'MDA-START'});\n            },10);\n            clearInterval(context.global.busyNext);    \n        }\n    },10);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 580,
        "wires": [
            [
                "b88fdac4.8e8c4"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "31e9f3bf.0d1f7c",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Stepper Extent = NO",
        "func": "if((msg.payload === 'done')&&(msg.sync===parseInt(context.global.sync2))) {node.send(msg);}\n\n/*\nFiltre pour bloquer un retour de réponse qui aurait été demandé avant que la durée d'une boucle ne soit atteinte\nAinsi on filtre sur msg.sync qui représente la clé de l'object JSON;\nC'est le context.global.sync2 qui dit on on se trouve temporellement\nSi les deux indices ne sont pas égales cela signifit que la réponse qu'on recoit n'appartient pas au temps en \ncours mais à celui d'avant donc on n'envoie pas le message au séquenceur de risque de déclencher l'action suivante et de\ndérégler le séquencement\n*/\n/*\nAttention il faut pense à attendre que l'équipement en attente doit être libre de la communication\nEt veillez à éteindre les sources de lumières, ou fermer les shutters\n*/\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1200,
        "y": 400,
        "wires": [
            [
                "1bdbf9a5.a0519e"
            ]
        ]
    },
    {
        "id": "506a859d.d4f3a4",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 580,
        "wires": [
            [
                "83738175.957ea"
            ]
        ]
    },
    {
        "id": "41ead4dc.f686ec",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 380,
        "wires": [
            [
                "a19caf4d.00a1e"
            ]
        ]
    },
    {
        "id": "1dfd6f1d.e43fc9",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 340,
        "wires": [
            [
                "4d2175b7.21767c"
            ]
        ]
    },
    {
        "id": "508a34c3.02882c",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 300,
        "wires": [
            [
                "8f1951cb.80f998"
            ]
        ]
    },
    {
        "id": "69dd820.5b886",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 1015,
        "y": 540,
        "wires": [
            [
                "5e7b5a83.dd3584"
            ]
        ]
    },
    {
        "id": "7ebb3e7c.58a5f8",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "cf8cb709.16f6",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 1015,
        "y": 260,
        "wires": [
            [
                "31e9f3bf.0d1f7c"
            ]
        ]
    },
    {
        "id": "55eeb7e0.c5f758",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 460,
        "wires": [
            [
                "a89bad21.1502b"
            ]
        ]
    },
    {
        "id": "a89bad21.1502b",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "If",
        "func": "if(msg.device === 'if'){\n    context.global.busyIf = setInterval(function(){\n        if(context.global.busyIfFlag === false){\n            context.global.busyIfFlag = true ;\n            //Ici, on rempli notre JSON des condition (référence <> calcul de la condition)\n            var strReplace = msg.cond.replace('NCELL','context.global.globalData.NCELL').replace('STATE_V1','context.global.globalData.STATE_V1').replace('STATE_V2','context.global.globalData.STATE_V2');\n            //if(!context.global.if.hasOwnProperty(msg.id)){\n                //Ici il faut calculer la condition avec la fonction eval\n            context.global.if[msg.id] = eval(strReplace) ;\n            //} else context.global.if[msg.id] = eval(strReplace) ;\n            msg.payload = \"done\";\n            node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n            setTimeout(function(){\n                node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                node.send(msg);\n            },0);\n            clearInterval(context.global.busyIf);\n        }\n    },10);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 460,
        "wires": [
            [
                "82c7409b.64371"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "ce3442ae.d933c8",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1670,
        "y": 520,
        "wires": []
    },
    {
        "id": "b46fb94f.b88598",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Object sequencer 2Bis",
        "func": "clearTimeout(global.get('mdaSync')) ;\nglobal.set('scanTime',0) ;\ncontext.global.request = false ;\ncontext.global.extent = true ;\ncontext.global.valid = false ;\ncontext.global.initialize = true ;\ncontext.global.nextStep = 0 ;\n\ncontext.global.if = {}\ncontext.global.break = {}\n\ncontext.global.step = [] ;\ncontext.global.step.push({\n    \"0\" : \n        [\n            [{\n            'topic' : 'if',\n            'device' : 'if',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'id' : \"0123456789\",\n            'cond' : 'NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===true&&STATE_V2[0]===false',\n            'loop' : []\n            }],/*\n            [{\n            'topic' : 'goto',\n            'device' : 'goto',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [\"0123456789\"],\n            'where' : ['toto'],\n            'break' : []\n            }],*/\n            [{\n            'topic' : 'break',\n            'device' : 'break',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'id' : \"1\",\n            'break' : 'b1',\n            'loop' : []\n            }],\n            [{\n            'topic' : 'break',\n            'device' : 'break',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'id' : \"3\",\n            'break' : 'b3',\n            'loop' : []\n            }],\n            [{\n            'topic' : 'break',\n            'device' : 'break',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'id' : \"2\",\n            'break' : 'b2', //nom de la boucle a casser\n            'loop' : []\n            }],\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : ['b','b2']\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789'],\n            'loop' : ['br']\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : []\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : []\n            }]\n        ],\n    \"10\" : \n        [\n            \n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 10,\n            'extent' : true,\n            'if' : [],\n            'loop' : ['br']\n            }],\n            /*[{\n            'topic' : 'goto',\n            'device' : 'goto',\n            'sync' : 10,\n            'extent' : true,\n            'if' : [],\n            'where' : ['toto']\n            }],*/\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 10,\n            'extent' : true,\n            'if' : [],\n            'loop' : ['br1','br']\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 10,\n            'extent' : true,\n            'if' : [],\n            'loop' : []\n            }] ,\n            [{\n            'topic' : 'next',\n            'device' : 'next',\n            'payload' : 'MDA-NEXT',\n            'sync' : 10,\n            'extent' : true,\n            'if' : [],\n            'loop' : []\n            }]// a voir si on ne le déplace pas comme pour l'arrêt\n        ]\n    });\n    //context.global.step[0][0].unshift('Strawberry'); > close tous les shutter, rajoute en premier\n    //pas en dernier\n    //stop mosaic\ncontext.global.step.push({\n    \"0\" : \n        [\n            [{\n            'id' : 'toto' ,\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : ['loop1']\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : ['loop1']\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : ['loop2']\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : ['loop2']\n            }]\n        ],\n    \"60\" : \n        [\n            \n            [{\n                'id' : 1,\n                'topic' : '4',\n                'device' : '4',\n                'sync' : 60,\n                'extent' : true,\n                'if' : [],\n                'loop' : ['loop1']\n            }],\n            [{\n                'id' : 2,\n                'topic' : '3',\n                'device' : '3',\n                'sync' : 60,\n                'extent' : true,\n                'if' : [],\n                'loop' : ['loop1']\n            }],\n            [{\n                'id' : 3,\n                'topic' : '2',\n                'device' : '2',\n                'sync' : 60,\n                'extent' : true,\n                'if' : [],\n                'loop' : ['loop1']\n            }],\n            [{\n                'id' : 4,\n                'topic' : 'next',\n                'device' : 'next',\n                'payload' : 'MDA-NEXT',\n                'sync' : 60,\n                'extent' : true,\n                'if' : [],\n                'loop' : []\n            }]// a voir si on ne le déplace pas comme pour l'arrêt\n        ]\n    });\ncontext.global.step.push({\n    \"0\" : \n        [\n        [{\n            'id' : '234324',\n            'topic' : 'stop',\n            'device' : 'stop',\n            'payload' : 'MDA-FINISH',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'loop' : []\n        }] \n        ]\n    });\n/*\ncontext.global.sequence2 = {\n    \"0\" : \n        [\n            [{\n            'topic' : 'if',\n            'device' : 'if',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'id' : \"0123456789\",\n            'cond' : 'true'\n            }],\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }]\n        ],\n    \"10\" : \n        [\n            [{\n            'topic' : 'if',\n            'device' : 'if',\n            'sync' : 10,\n            'extent' : true,\n            'if' : [],\n            'id' : \"012345689\",\n            'cond' : 'true'\n            }],\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 10,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 10,\n            'extent' : true,\n            'if' : ['012345689']\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 10,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : 'next',\n            'device' : 'next',\n            'payload' : 'MDA-NEXT',\n            'sync' : 10,\n            'extent' : true,\n            'if' : []\n            }]\n        ],\n    \"20\" : \n        [\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }]\n        ],\n    \"30\" : \n        [\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 30,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 30,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : 'if',\n            'device' : 'if',\n            'sync' : 30,\n            'extent' : true,\n            'if' : [],\n            'id' : \"12345689\",\n            'cond' : 'true'\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 30,\n            'extent' : true,\n            'if' : ['12345689']\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 30,\n            'extent' : true,\n            'if' : []\n            }]\n        ],\n        \"40\" : \n            [\n                [{\n                'topic' : '4',\n                'device' : '4',\n                'sync' : 40,\n                'extent' : false,\n                'if' : []\n                }]\n            ],\n        \"50\" : \n            [\n                [{\n                'topic' : '4',\n                'device' : '4',\n                'sync' : 50,\n                'extent' : true,\n                'if' : ['12345689','0123456789']\n                }],\n                [{\n                'topic' : '3',\n                'device' : '3',\n                'sync' : 50,\n                'extent' : true,\n                'if' : ['0123456789']\n                }],\n                [{\n                'topic' : '2',\n                'device' : '2',\n                'sync' : 50,\n                'extent' : true,\n                'if' : ['12345689']\n                }],\n                [{\n                'topic' : '1',\n                'device' : '1',\n                'sync' : 50,\n                'extent' : true,\n                'if' : []\n                }],\n                [{\n                'payload' : 'MDA-FINISH',\n                'sync' : 50,\n                'extent' : true,\n                'if' : []\n                }]\n            ]\n}\n*/\nmsg.payload = context.global.step ;\nreturn msg ;\n\n\n/*\nAttention quand on a un extent false et qu'on met un MDA finish il n'est pas pris en compte\ncar le extent false ne prend pas en compte les instructions suivantes !!!!\n*/",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "7ebb3e7c.58a5f8"
            ]
        ]
    },
    {
        "id": "f8108f9d.b1c338",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "goto",
        "func": "if(msg.device === 'goto'){\n    context.global.busyGoto = setInterval(function(){\n        if(context.global.busyGotoFlag === false){\n            context.global.busyGotoFlag = true ;\n            for(var i=0; i<context.global.step.length;i++){\n                if(context.global.step[i][0][0][0].id===msg.where[0]){\n                    context.global.nextStep = i ;\n                    node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n                    setTimeout(function(){\n                        node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                        node.send({'payload':'MDA-START'});\n                    },10);\n                    break ;\n                }\n            }\n            clearInterval(context.global.busyGoto);    \n        }\n    },10);   \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "a4afe4c7.c66b6"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "ec880060.ecb758",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 620,
        "wires": [
            [
                "f8108f9d.b1c338"
            ]
        ]
    },
    {
        "id": "3c61c60a.d85642",
        "type": "link in",
        "z": "79d1b94.eee5848",
        "name": "",
        "links": [
            "84f40944.00a358"
        ],
        "x": 755,
        "y": 500,
        "wires": [
            [
                "3720f3e9.b2708c"
            ]
        ]
    },
    {
        "id": "3720f3e9.b2708c",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "break",
        "func": "if(msg.device === 'break'){\n    context.global.busyBreak = setInterval(function(){\n        if(context.global.busyBreakFlag === false){\n            context.global.busyBreakFlag = true ;\n            //if(!context.global.break.hasOwnProperty(msg.break)){\n            context.global.break[msg.break] = true ; //false ça veut qu'on ne le fait pas\n            //} else context.global.break[msg.break] = true ; //false ça veut dire qu'on ne le fait pas\n            msg.payload = \"done\";\n            node.status ({fill:\"yellow\",shape:\"dot\", text: \"request\"});\n            setTimeout(function(){\n                node.status ({fill:\"green\",shape:\"dot\", text: \"done\"});\n                node.send(msg);\n            },0);\n            clearInterval(context.global.busyBreak);    \n        }\n    },10);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 500,
        "wires": [
            [
                "e93dbf77.b3eda"
            ]
        ],
        "icon": "node-red/contrast.png"
    },
    {
        "id": "e4c97785.0f4eb",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "OLD ; Object sequencer 2",
        "func": "context.global.extent = true ;\ncontext.global.valid = false ;\ncontext.global.initialize = true ;\ncontext.global.if = {}\ncontext.global.sequence2 = {\n    \"0\" : \n        [\n            [{\n            'topic' : 'if',\n            'device' : 'if',\n            'sync' : 0,\n            'extent' : false,\n            'if' : [],\n            'id' : \"0123456789\",\n            'cond' : 'true'\n            }],\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 0,\n            'extent' : false,\n            'if' : ['0123456789']\n            }]\n        ],\n    \"10\" : \n        [\n            [{\n            'topic' : 'if',\n            'device' : 'if',\n            'sync' : 10,\n            'extent' : true,\n            'if' : [],\n            'id' : \"012345689\",\n            'cond' : 'true'\n            }],\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 10,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 10,\n            'extent' : true,\n            'if' : ['012345689']\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 10,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : 'next',\n            'device' : 'next',\n            'payload' : 'MDA-NEXT',\n            'sync' : 10,\n            'extent' : true,\n            'if' : []\n            }]\n        ],\n    \"20\" : \n        [\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 20,\n            'extent' : false,\n            'if' : []\n            }]\n        ],\n    \"30\" : \n        [\n            [{\n            'topic' : '4',\n            'device' : '4',\n            'sync' : 30,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : '3',\n            'device' : '3',\n            'sync' : 30,\n            'extent' : true,\n            'if' : []\n            }],\n            [{\n            'topic' : 'if',\n            'device' : 'if',\n            'sync' : 30,\n            'extent' : true,\n            'if' : [],\n            'id' : \"12345689\",\n            'cond' : 'true'\n            }],\n            [{\n            'topic' : '2',\n            'device' : '2',\n            'sync' : 30,\n            'extent' : true,\n            'if' : ['12345689']\n            }],\n            [{\n            'topic' : '1',\n            'device' : '1',\n            'sync' : 30,\n            'extent' : true,\n            'if' : []\n            }]\n        ],\n        \"40\" : \n            [\n                [{\n                'topic' : '4',\n                'device' : '4',\n                'sync' : 40,\n                'extent' : false,\n                'if' : []\n                }]\n            ],\n        \"50\" : \n            [\n                [{\n                'topic' : '4',\n                'device' : '4',\n                'sync' : 50,\n                'extent' : true,\n                'if' : ['12345689','0123456789']\n                }],\n                [{\n                'topic' : '3',\n                'device' : '3',\n                'sync' : 50,\n                'extent' : true,\n                'if' : ['0123456789']\n                }],\n                [{\n                'topic' : '2',\n                'device' : '2',\n                'sync' : 50,\n                'extent' : true,\n                'if' : ['12345689']\n                }],\n                [{\n                'topic' : '1',\n                'device' : '1',\n                'sync' : 50,\n                'extent' : true,\n                'if' : []\n                }],\n                [{\n                'payload' : 'MDA-FINISH',\n                'sync' : 50,\n                'extent' : true,\n                'if' : []\n                }]\n            ]\n}\nmsg.payload = context.global.sequence2 ;\nreturn msg ;\n\n\n/*\nAttention quand on a un extent false et qu'on met un MDA finish il n'est pas pris en compte\ncar le extent false ne prend pas en compte les instructions suivantes !!!!\n*/",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "87e8a18b.e8fae8",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "53e885f4.23721c"
            ]
        ]
    },
    {
        "id": "53e885f4.23721c",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "setInterval",
        "func": "var busy = setInterval(function(){\n    node.warn(context.global.busy);\n    if(context.global.busy === false){\n        msg.payload = 'Bonjour';\n        node.send(msg);\n        clearInterval(busy);\n    }\n},1000);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "a3df184c.2b557"
            ]
        ]
    },
    {
        "id": "ff118653.fd6c38",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "42f8b640.c204c"
            ]
        ]
    },
    {
        "id": "42f8b640.c204c",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busy = true",
        "func": "context.global.busy = true ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1238d471.a5be04",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "efad630b.ea951"
            ]
        ]
    },
    {
        "id": "efad630b.ea951",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busy = false",
        "func": "context.global.busy = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a3df184c.2b557",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "d1bb18dd.8b92c",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "{\"expanded\":true,\"key\":\"root_1\",\"title\":\"root\",\"children\":[{\"expanded\":true,\"key\":\"_2\",\"selected\":false,\"title\":\"Protocol\",\"type\":\"PROT\",\"data\":{\"config\":0,\"comment\":\"\",\"prefix\":\"\"},\"children\":[{\"expanded\":true,\"key\":\"_3\",\"selected\":false,\"title\":\"Group Position\",\"type\":\"GROUP\",\"skeep\":1,\"children\":[{\"expanded\":true,\"key\":\"_4\",\"selected\":false,\"title\":\"List of positions\",\"type\":\"LIST\",\"children\":[{\"expanded\":false,\"key\":\"_5\",\"selected\":false,\"title\":\"XYZ Position -1\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"channel\":\"channel1\",\"res2\":10}},{\"expanded\":false,\"key\":\"_6\",\"selected\":false,\"title\":\"XYZ Position 0\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10}},{\"expanded\":false,\"key\":\"_7\",\"selected\":false,\"title\":\"XYZ Position 1\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10}}]},{\"expanded\":false,\"key\":\"_8\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_9\",\"selected\":false,\"title\":\"SC1 +Picture\",\"type\":\"CAMERA\",\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}}]},{\"expanded\":true,\"key\":\"_10\",\"selected\":false,\"title\":\"XYZ Position 2\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10},\"children\":[{\"expanded\":false,\"key\":\"_11\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_12\",\"selected\":false,\"title\":\"SC1 +Picture\",\"type\":\"CAMERA\",\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}}]},{\"expanded\":true,\"key\":\"_139876\",\"selected\":false,\"title\":\"if\",\"type\":\"if\",\"skeep\":1,\"data\":{\"sync\":0,\"extent\":false,\"if\":[],\"id\":\"0123789\",\"cond\":\"NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===true&&STATE_V2[0]===false\",\"loop\":[]},\"children\":[{\"expanded\":true,\"key\":\"_18\",\"selected\":false,\"title\":\"XYZ Position 20\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10},\"children\":[{\"key\":\"_19\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_20\",\"selected\":false,\"title\":\"SC2 + Picture\",\"type\":\"CAMERA\",\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}},{\"expanded\":false,\"key\":\"_21\",\"selected\":false,\"title\":\"Mosaic\",\"type\":\"Mosaic\",\"skeep\":0,\"data\":{\"image\":\"\"}},{\"key\":\"_22\",\"selected\":false,\"title\":\"SC3 + ZS\",\"type\":\"ZS\",\"data\":{\"skip\":0,\"zstart\":-5,\"zend\":5,\"zstep\":1,\"shutter\":true}}]},{\"expanded\":true,\"key\":\"_30\",\"selected\":true,\"title\":\"Sequence 2\",\"type\":\"LOOP\",\"data\":{\"time\":\"2\",\"repeat\":\"4\"},\"children\":[{\"expanded\":true,\"key\":\"_31\",\"selected\":false,\"title\":\"XYZ Position 50\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10},\"children\":[{\"key\":\"_32\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"key\":\"_33\",\"selected\":false,\"title\":\"SC4 + ZS\",\"type\":\"ZS\",\"data\":{\"skip\":0,\"zstart\":-5,\"zend\":5,\"zstep\":1,\"shutter\":true}}]},{\"expanded\":true,\"key\":\"_34\",\"selected\":false,\"title\":\"XYZ Position 60\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10},\"children\":[{\"key\":\"_35\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_36\",\"selected\":false,\"title\":\"Mosaic\",\"type\":\"Mosaic\",\"skeep\":1,\"data\":{\"image\":\"\"}},{\"expanded\":false,\"key\":\"_37\",\"selected\":false,\"title\":\"SC6 + Picture\",\"skeep\":1,\"type\":\"CAMERA\",\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}}]},{\"expanded\":true,\"key\":\"_38\",\"selected\":false,\"title\":\"Group Position\",\"type\":\"GROUP\",\"skeep\":1,\"children\":[{\"expanded\":true,\"key\":\"_39\",\"selected\":false,\"title\":\"List of positions\",\"type\":\"LIST\",\"children\":[{\"expanded\":false,\"key\":\"_40\",\"selected\":false,\"title\":\"XYZ Position 70\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10}},{\"expanded\":false,\"key\":\"_41\",\"selected\":false,\"title\":\"XYZ Position 80\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10}}]},{\"expanded\":false,\"key\":\"_42\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_43\",\"selected\":false,\"title\":\"SC1 +Picture\",\"type\":\"CAMERA\",\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}}]}]},{\"expanded\":true,\"key\":\"_14\",\"selected\":false,\"title\":\"XYZ Position 10\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10},\"children\":[{\"key\":\"_15\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_16\",\"selected\":false,\"title\":\"SC1 + Picture\",\"type\":\"CAMERA\",\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}},{\"expanded\":false,\"key\":\"_16\",\"selected\":false,\"title\":\"Mosaic\",\"type\":\"Mosaic\",\"data\":{\"image\":\"\"}},{\"key\":\"_17\",\"selected\":false,\"title\":\"SC4 + ZS\",\"type\":\"ZS\",\"data\":{\"skip\":0,\"zstart\":-5,\"zend\":5,\"zstep\":1,\"shutter\":true}}]}]},{\"expanded\":true,\"key\":\"_44\",\"selected\":false,\"title\":\"if\",\"type\":\"if\",\"skeep\":1,\"data\":{\"sync\":0,\"extent\":false,\"if\":[],\"id\":\"0123456789\",\"cond\":\"NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===true&&STATE_V2[0]===false\",\"loop\":[]},\"children\":[{\"key\":\"_45\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}}]}]}],\"type\":\"mda\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "85ebc543.09e55"
            ]
        ]
    },
    {
        "id": "6ae302ce.3975ac",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "85ebc543.09e55",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "treeToDictAction",
        "func": "/*\nWilliams BRETT -\nVersion 1: 05/02/2019\nVersion 2: 12/09/2019\nVersion 3: 25/01/2020\n*/\n\ncontext.global.tableInstruction = [] ; \ncontext.global.stepTime = -1 ; \ncontext.global.sequencerTime = -1 ;\n\ncontext.global.keyLoop  = {} ;\ncontext.global.keyIf    = {} ;\ncontext.global.level    = 0 ;\ncontext.global.saveLevel= 0;\n\nnode.status ({fill:\"red\",shape:\"dot\", text: \"Build instructions table\"});\nvar protocol = msg.payload.children;\nbuildChildrenTableInstruction(protocol[0].children,buildBooleanTrueTable(getNbChildren(protocol[0].children),1),'PROT'); /*? pk 100 ?*/\nnode.status ({fill:\"green\",shape:\"dot\", text: \"Generate !\"});\nnode.send({'payload':context.global.tableInstruction});\n\n\n/* cette fonction permet de construire les instructions du séquenceur */\nfunction buildChildrenTableInstruction(obj,enabledChildren,parent){\n    context.global.level ++ ;\n   \n    var repeat = getNbChildren(obj); //nbre d'enfant du protocole\n    var iterator = 1 ; //par défaut on itère une fois sauf dans le cas d'une séquence et d'un groupe de positions\n    while(repeat > 0){\n        \n        var childrenN = obj[getNbChildren(obj)-repeat] ; //on récupère l'enfant courant de la boucle d'occurence\n        if(childrenN.type === 'LOOP'){ iterator = parseInt(childrenN.data.repeat) ;} //ici nous sommes en prèsence d'une séquence\n        if(childrenN.type === 'GROUP') {iterator = getNbChildren(childrenN.children[0].children) ;} //ici, nous sommes en présence d'un groupe de positions\n        var iteratorCopy = iterator; //copie de l'itérateur pour balayer l'object JSON\n        while(iterator > 0){\n            if(childrenN.type === 'GROUP'){\n                \n                if(enabledChildren[getNbChildren(obj)-repeat][0]===true){ /* vérification des flags d'activation transmis avant la récurssivité pour un groupe entier de positions*/\n                    //si il n'y a pas de loop, le skip n'a pas d'intéret car il n'y a pas de récurrence\n                    //a mofifier car le parent peut être plus haut dans l'arbre\n                    //a faire avec le level et le tablea context.global.keyLoop\n                    //en fait ici c'est if keyLoop is empty\n                    //if((parent !== 'LOOP')||(enabledChildren[getNbChildren(obj)-repeat][iteratorCopy-iterator+1]===true)){\n                    if((Object.keys(context.global.keyLoop).length ===0)||(enabledChildren[getNbChildren(obj)-repeat][iteratorCopy-iterator+1]===true)){\n                        buildMdaInstruction(childrenN.children[0].children[iteratorCopy-iterator]);\n                        buildChildrenTableInstruction(childrenN.children,enabledChildren,childrenN.type);\n                    }\n                }\n            }\n            else {\n                if((childrenN.type === 'LOOP')){\n                    context.global.saveLevel = 0 ;\n                    //si la loop est au level 1, attention il faut que l'itérator soit à 1 sinon on répéte le nombre de fois que le repeat de la loop\n                    if((context.global.level === 1)&&(iterator===parseInt(childrenN.data.repeat))){ \n                        node.warn('ttt');\n                        context.global.stepTime++ ;\n                        context.global.tableInstruction.push({});\n                        context.global.tableInstruction[context.global.stepTime]['0'] = [];\n                    }\n                    //si la la loop n'est pas au premier niveau, on créée un nouveau step si aucune loop n'a été ajouté dans le tableau global et toujours quand l'itérateur est a 1. ce cas se présente dans une boucle de boucle car l'itérator va passer à 1 donc on filtre en plus avec le nb de clé dans l'objet global\n                    if((context.global.level > 1)&&(iterator===parseInt(childrenN.data.repeat))&&(Object.keys(context.global.keyLoop).length ===0)){ \n                        node.warn('ttdsfdfst');\n                        context.global.stepTime++ ;\n                        context.global.tableInstruction.push({});\n                        context.global.tableInstruction[context.global.stepTime]['0'] = [];\n                        context.global.saveLevel = context.global.level ;\n                    }\n                    //ici on ajoute a l'objet keyLoop les id en fonction des levels dans l'obj\n                    if(!context.global.keyLoop.hasOwnProperty(context.global.level)) context.global.keyLoop[context.global.level] = childrenN.key ;\n                    \n                    enabledChildren = buildBooleanTrueTable(iteratorCopy,1); //tableau de validation des enfants\n                    //i c'est le compteur d'occurence de la boucle\n                    for(i=0;i<getNbChildren(childrenN.children);i++){/*Ici on test pour les positions XYZ s'il y a des fréquences d'itérations > 1 si oui, il faut utiliser la fonction modulos, pour supprimer les positions en fonction de la fréquence d'itération de la boucle, Idem pour les groupes de positions, Idem pour les loop*/\n                        if(childrenN.hasOwnProperty('children')&&childrenN.children[i].hasOwnProperty('skeep')&&(childrenN.children[i].type==='XYZ')) //les positions, marquage des positions a ne pas réaliser\n                            if((iterator%childrenN.children[i].skeep===0)===false)  enabledChildren[i][0] = false;\n                        if(childrenN.hasOwnProperty('children')&&childrenN.children[i].hasOwnProperty('skeep')&&(childrenN.children[i].type==='GROUP')){/*les groupes de positions: idem*/\n                            if((iterator%childrenN.children[i].skeep===0)===false) enabledChildren[i][0] = false; //groupe entier\n                            for(var k=0;k<getNbChildren(childrenN.children[i].children[0].children);k++){ //pour les positions des groupes de positions, on étend le tableau en terme de colonne pour répliquer le même schéma que pour les groupes de positions ou positions simples\n                                if((iterator%childrenN.children[i].children[0].children[k].skeep===0)===false) enabledChildren[i].push(false);\n                                else enabledChildren[i].push(true);\n                            }\n                        } \n                    }\n                    /*après suppression, s'il y a des enfants on construit par récurssivité en transmettant les flags d'activation*/\n                    if(childrenN.hasOwnProperty('children')) buildChildrenTableInstruction(childrenN.children,enabledChildren,childrenN.type);\n                   //ici on enlève a l'objet keyLoop les id en fonction des levels dans l'obj\n                    delete context.global.keyLoop[context.global.level];\n\n                }\n                else {\n                    if(childrenN.type !== 'LIST'){\n                        if(childrenN.type == 'if'){\n                            //ici on ajoute a l'objet keyIf les id en fonction des levels dans l'obj\n                            if(!context.global.keyIf.hasOwnProperty(context.global.level))\n                            context.global.keyIf[context.global.level] = childrenN.key ;\n                        }\n                        if(enabledChildren[getNbChildren(obj)-repeat][0]===true){ /* vérification des flags d'activation transmis avant la récurssivité */\n                            buildMdaInstruction(childrenN);\n                            if(childrenN.hasOwnProperty('children')) {\n                                buildChildrenTableInstruction(childrenN.children,enabledChildren,childrenN.type);\n                            }\n                        }\n                        //ici on enléve a l'objet keyIf les id en fonction des levels dans l'obj\n                        if(childrenN.type == 'if') delete context.global.keyIf[context.global.level];\n                    }\n                }\n            }\n            iterator--;\n        }\n        node.warn(context.global.level+';'+context.global.saveLevel+';'+childrenN.type+Object.keys(context.global.keyLoop).length);\n        //next step après une boucle ou une boucle de boucle attention il faut savoir le level car sinon on ne sais pas ou le level de la loop avait été crée. De plus il faut vérifier qu'il y a des obj aprés la boucle mais au même niveau grace au repeat. Si le repeat est supérieur a 1 c'est qu'il reste des instructions a réaliser\n        if((context.global.level === context.global.saveLevel)&&(childrenN.type === 'LOOP')&&(Object.keys(context.global.keyLoop).length ===0)){ \n            node.warn('MAM');\n            context.global.stepTime++ ;\n            context.global.tableInstruction.push({});\n            context.global.tableInstruction[context.global.stepTime]['0'] = [];\n        }\n        iterator = 1 ;\n        repeat--;\n    }\n    \n    context.global.level -- ;\n}\n\n/* cette fonction retourne le nombre d'enfants d'une branche */\nfunction getNbChildren(obj){\n    return obj.length ;\n}\n\n/* cette fonction construit la table d'instructions pour controller les équipements de cyberScope en fonction des variables globales */\nfunction buildMdaInstruction(obj){\n    var o = {\n        'key' : '',\n        'title' : 'title',\n        'type' : 'type',\n        'level': 1,\n        'loop' : [],\n        'if' : [],\n        'cond' :'',\n        'break':'',\n        'where':''\n        } ;\n    o.key = obj.key ;\n    o.type = obj.type ;\n    o.title = obj.title ;\n    o.level = context.global.level ;\n    if(Object.keys(context.global.keyLoop).length !==0){\n        for(var key in context.global.keyLoop) \n            o.loop.push(context.global.keyLoop[key]);\n    }\n    if(Object.keys(context.global.keyIf).length !==0){\n        for(var key in context.global.keyIf) \n            o.if.push(context.global.keyIf[key]);\n    }\n    switch(obj.type){\n        case 'if':\n            o.cond = obj.data.cond ;\n            break;\n        case 'goto':\n            o.where = obj.data.where ;\n            break ;\n        case 'break':\n            o.break = obj.data.break ;\n    }\n    node.send({'payload' : o});\n    if(context.global.level === 1){ \n        context.global.stepTime++ ;\n        context.global.tableInstruction.push({});\n        context.global.tableInstruction[context.global.stepTime]['0'] = [];\n    }\n    context.global.tableInstruction[context.global.stepTime]['0'].push([o]);\n}\n\n/* fonction de création d'une table 2D en boolean */\nfunction buildBooleanTrueTable(lg1,lg2){\n    var outputTable = [] ;\n    for(var i=0;i<lg1;i++) outputTable[i] = [lg2] ;\n    for(i=0;i<lg1;i++) for(var j=0;j<lg2;j++) outputTable[i][j] = true ;\n    return outputTable;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "6ae302ce.3975ac",
                "e1adcc38.c3f88"
            ]
        ]
    },
    {
        "id": "2856a829.585d7",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "{\"expanded\":true,\"key\":\"_8\",\"selected\":true,\"title\":\"Sequence 2\",\"type\":\"LOOP\",\"data\":{\"time\":\"2\",\"repeat\":\"4\"},\"children\":[{\"expanded\":true,\"key\":\"_5\",\"selected\":false,\"title\":\"XYZ Position 50\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10},\"children\":[{\"key\":\"_13\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"key\":\"_4\",\"selected\":false,\"title\":\"SC4 + ZS\",\"type\":\"LIGHT\",\"skeep\":1,\"data\":{\"skip\":0,\"zstart\":-5,\"zend\":5,\"zstep\":1,\"shutter\":true}}]},{\"expanded\":true,\"key\":\"_5\",\"selected\":false,\"title\":\"XYZ Position 60\",\"type\":\"XYZ\",\"skeep\":2,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10},\"children\":[{\"key\":\"_13\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_16\",\"selected\":false,\"title\":\"Mosaic\",\"type\":\"Mosaic\",\"skeep\":1,\"data\":{\"image\":\"\"}},{\"expanded\":false,\"key\":\"_14\",\"selected\":false,\"title\":\"SC6 + Picture\",\"skeep\":1,\"type\":\"LIGHT\",\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}}]},{\"expanded\":true,\"key\":\"_5\",\"selected\":false,\"title\":\"Group Position\",\"type\":\"GROUP\",\"skeep\":1,\"children\":[{\"expanded\":true,\"key\":\"_6\",\"selected\":false,\"title\":\"List of positions\",\"type\":\"LIST\",\"children\":[{\"expanded\":false,\"key\":\"_5\",\"selected\":false,\"title\":\"XYZ Position 70\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10}},{\"expanded\":false,\"key\":\"_5\",\"selected\":false,\"title\":\"XYZ Position 80\",\"type\":\"XYZ\",\"skeep\":1,\"data\":{\"xPosition\":0,\"yPosition\":0,\"zPosition\":0,\"res1\":1,\"res2\":10}}]},{\"expanded\":false,\"key\":\"_6\",\"selected\":false,\"title\":\"Autofocus\",\"type\":\"AF\",\"skeep\":1,\"data\":{\"lower\":30,\"upper\":30,\"aftbl\":\"LCPlanFl 40x\"}},{\"expanded\":false,\"key\":\"_7\",\"selected\":false,\"title\":\"SC1 +Picture\",\"type\":\"CAMERA\",\"skeep\":1,\"data\":{\"time\":100,\"skip\":0,\"number\":1,\"zoffset\":0}}]}]}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "72a3c0fa.8d561"
            ]
        ]
    },
    {
        "id": "72a3c0fa.8d561",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "splice Children",
        "func": "msg.payload.children.splice(0,1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "6ae302ce.3975ac"
            ]
        ]
    },
    {
        "id": "50ff100e.565448",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 720,
        "wires": [
            [
                "c3b958ae.05e0c8"
            ]
        ]
    },
    {
        "id": "c3b958ae.05e0c8",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Test EVAL",
        "func": "var condition = 'NCELL.POS3_3.BF[0]===200&&STATE_V1[0]===false&&STATE_V2[0]===false';\nvar strReplace ;\nvar condition = 'var ncell = NCELL.POS3_3.BF[0]; var z = 20; var result ;if(ncell===20*z) result = true; else result = false ;';\nstrReplace = condition.replace('NCELL','context.global.globalData.NCELL').replace('STATE_V1','context.global.globalData.STATE_V1').replace('STATE_V2','context.global.globalData.STATE_V2');\nnode.warn(eval(strReplace));\nnode.log(node.id+' '+node.name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 720,
        "wires": [
            [
                "b61a0d0c.9b636"
            ]
        ]
    },
    {
        "id": "b61a0d0c.9b636",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 720,
        "wires": []
    },
    {
        "id": "9aaf75f.fb28988",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "da4f93ec.f00f6"
            ]
        ]
    },
    {
        "id": "da4f93ec.f00f6",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "NCELL = 4000 ;",
        "func": "//context.global.isblack = msg.payload ;\ncontext.global.paramControl['NCELL'] = 4000 ;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cab4a147.ee8098",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "Gestion du IF",
        "info": "Ici on simule la gestion du IF grace à la fonction eval qui nous permet de tester du code grace à une chaine de caractère",
        "x": 130,
        "y": 680,
        "wires": []
    },
    {
        "id": "321738ce.d211e",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "Convertion",
        "info": "Ici on converti l'arbre JTree HTML/Javascript en liste et plus précisemment un tableau qui alimenteration de context.global.step",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "ec848520.e36b6",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "Sequenceur",
        "info": "",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "5d8b5df1.beb61c",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "Initialisation",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "8c35d6.ed1d3228",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busy1Flag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 300,
        "wires": [
            [
                "6fd7bbb3.6cfe4c",
                "31e9f3bf.0d1f7c"
            ]
        ]
    },
    {
        "id": "c3a12a8.db08158",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "6f3eefc7.845fd8"
            ]
        ]
    },
    {
        "id": "6f3eefc7.845fd8",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Testing break",
        "func": "var o = {\n    \"topic\":\"break\",\n    \"device\":\"break\",\n    \"sync\":0,\n    \"extent\":false,\n    \"if\":[],\n    \"id\":\"dd\",\n    \"break\":\"br\",\n    \"loop\":[\"br1\",\"br\",\"b2\"],\n    \"_msgid\":\"90866b70.bec288\"\n} ;\n\nfor(var idIf in context.global.break){\n    var findIf = o['loop'].indexOf(idIf) ;\n    if(findIf!==-1){ \n        //calculIf = calculIf && context.global.if[idIf] ;\n        break;\n    }\n\n}\nnode.warn(findIf);\nmsg.payload = context.global.break ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "6dd0fb44.464c1c"
            ]
        ]
    },
    {
        "id": "f696caa6.7ca3a8",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "6106aab.f0252d4"
            ]
        ]
    },
    {
        "id": "6106aab.f0252d4",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag = false",
        "func": "context.global.busy1Flag        = false ;\ncontext.global.busy2Flag        = false ;\ncontext.global.busy3Flag        = false ;\ncontext.global.busy4Flag        = false ;\ncontext.global.busyIfFlag       = false ;\ncontext.global.busyBreakFlag    = false ;\ncontext.global.busyNextFlag     = false ;\ncontext.global.busyGotoFlag     = false ;\ncontext.global.break            = {} ;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6a34417c.a21ea8",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busy2Flag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 340,
        "wires": [
            [
                "6fd7bbb3.6cfe4c",
                "31e9f3bf.0d1f7c"
            ]
        ]
    },
    {
        "id": "4eaf9560.e8cc8c",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busy3Flag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 380,
        "wires": [
            [
                "6fd7bbb3.6cfe4c",
                "31e9f3bf.0d1f7c"
            ]
        ]
    },
    {
        "id": "2411424c.263d26",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busy4Flag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 420,
        "wires": [
            [
                "6fd7bbb3.6cfe4c",
                "31e9f3bf.0d1f7c"
            ]
        ]
    },
    {
        "id": "6fd7bbb3.6cfe4c",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "82c7409b.64371",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busyIfFlag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 460,
        "wires": [
            [
                "31e9f3bf.0d1f7c"
            ]
        ]
    },
    {
        "id": "e93dbf77.b3eda",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busyBreakFlag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 500,
        "wires": [
            [
                "31e9f3bf.0d1f7c"
            ]
        ]
    },
    {
        "id": "b88fdac4.8e8c4",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busyNextFlag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 580,
        "wires": [
            [
                "5e7b5a83.dd3584"
            ]
        ]
    },
    {
        "id": "a4afe4c7.c66b6",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "busyFlag",
        "func": "context.global.busyGotoFlag = false ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 620,
        "wires": [
            [
                "5e7b5a83.dd3584"
            ]
        ]
    },
    {
        "id": "3c281fa7.eb775",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "A faire",
        "info": "Dans le tableau si extent a false:\n1. eteindre les shutters en premier\n2. \n\nDans la boucle :\n1. mettre select sec, min, heure\n\nDans la position:\n1. mettre le channel fluidic associé / pas sur\n2. enlever les opérateur mathématique dans le titre car sur un if on prend en compte le nom de la position; il ne faut donc pas d'opérateur dans le nom ; pas points nom plus ; pas d'incollades ou de caractères spéciaux\n\nDans les noeuds:\n1. modifier les busy\n2. remplacer les warns par logs\n\nDans les settings channels :\n1. pas d'opérateurs non plus\n2. \n\n",
        "x": 150,
        "y": 800,
        "wires": []
    },
    {
        "id": "e4c23a69.279078",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "Alimentation Data",
        "info": "",
        "x": 110,
        "y": 600,
        "wires": []
    },
    {
        "id": "7b99e069.126dd8",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 640,
        "wires": [
            [
                "b31296f0.ebee7"
            ]
        ]
    },
    {
        "id": "b31296f0.ebee7",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Buffer Data",
        "func": "var limit = 5;\n\nif(context.global.globalData.STATE_V1.length<limit) context.global.globalData.STATE_V1.push(false);\nelse {\n    \n    context.global.globalData.STATE_V1.unshift(true); //ajout devant / \n    context.global.globalData.STATE_V1.pop()//enlever derriere\n}\nmsg.payload = context.global.globalData ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "fe23d86f.20339"
            ]
        ]
    },
    {
        "id": "fe23d86f.20339",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "e1adcc38.c3f88",
        "type": "file",
        "z": "79d1b94.eee5848",
        "name": "",
        "filename": "tree.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 540,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6dd0fb44.464c1c",
        "type": "debug",
        "z": "79d1b94.eee5848",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "a90ccb7b.a1a4a",
        "type": "inject",
        "z": "79d1b94.eee5848",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "328490cd.abc778"
            ]
        ]
    },
    {
        "id": "328490cd.abc778",
        "type": "function",
        "z": "79d1b94.eee5848",
        "name": "Init paramControl",
        "func": "context.global.globalData = {\n    'STATE_V1' : [true] ,\n    'STATE_V2' : [false],\n    'STATE_V3' : [] ,\n    'STATE_V4' : [] ,\n    'STATE_V5' : [] ,\n    'ITERATOR' : 0 ,\n    'NCELL'    : {\n        'POS3_3':{\n            'BF' : [20],\n            'RFP' : []\n        },\n        'POS1_5':{\n            'BF' : [],\n            'RFP' : []\n        }\n    },\n    'ISBLACK'  : {\n        'POS3_3':{\n            'BF' : [],\n            'RFP' : []\n        },\n        'POS1_5':{\n            'BF' : [],\n            'RFP' : []\n        }\n    },\n    'ISWHITE'  : {\n        'POS3_3':{\n            'BF' : [],\n            'RFP' : []\n        },\n        'POS1_5':{\n            'BF' : [],\n            'RFP' : []\n        }\n    },\n    'ISBLURRED': {\n        'POS3_3':{\n            'BF' : [],\n            'RFP' : []\n        },\n        'POS1_5':{\n            'BF' : [],\n            'RFP' : []\n        }\n    },\n};\n//les 5 derniers",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3b9969c7.f318be",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "Test du busy",
        "info": "",
        "x": 130,
        "y": 360,
        "wires": []
    },
    {
        "id": "2f2fedeb.fcae52",
        "type": "comment",
        "z": "79d1b94.eee5848",
        "name": "Test du break",
        "info": "",
        "x": 130,
        "y": 520,
        "wires": []
    }
]
